In [257]:
import numpy as np
import pandas as pd

import datetime as dt
from fractions import Fraction

import matplotlib.pyplot as plt
pd.set_option('display.max_columns', None) 
%matplotlib inline

**Loading dataset into a dataframe**

In [2]:
signup_ds = pd.read_csv('ds_challenge.csv')
signup_ds.head(5)

,id,city_name,signup_os,signup_channel,signup_date,bgc_date,vehicle_added_date,vehicle_make,vehicle_model,vehicle_year,first_completed_date
0,1,Strark,ios web,Paid,1/2/16,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Strark,windows,Paid,1/21/16,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Wrouver,windows,Organic,1/11/16,1/11/16,NaN,NaN,NaN,NaN,NaN
3,4,Berton,android web,Referral,1/29/16,2/3/16,2/3/16,Toyota,Corolla,2016.0,2/3/16
4,5,Strark,android web,Referral,1/10/16,1/25/16,1/26/16,Hyundai,Sonata,2016.0,NaN

**Exploratory Data Analysis**

**Determining the columns in the dataset**

In [3]:
signup_ds.columns

Index(['id', 'city_name', 'signup_os', 'signup_channel', 'signup_date',
       'bgc_date', 'vehicle_added_date', 'vehicle_make', 'vehicle_model',
       'vehicle_year', 'first_completed_date'],
      dtype='object')

**Determining the number of rows and features in the dataset**

In [4]:
# indicates 54681 rows and 11 features
signup_ds.shape

(54681, 11)

**Determining the unique values for each of the features**

In [5]:
signup_ds['id'].unique()

array([    1,     2,     3, ..., 54679, 54680, 54681])

In [6]:
#checking null values for the 'id' feature(possibly the primary key)
signup_ds['id'].isnull().sum()

0

In [7]:
signup_ds['city_name'].unique()

array(['Strark', 'Wrouver', 'Berton'], dtype=object)

**Observations about the 'city_name' feature-**
1. The name of the feature in the dataset information provide is 'city_id' whereas in the dataset it is 'city_name'.

In [8]:
#Number of null values for the 'city_name' feature = 0 (of 54681)
signup_ds['city_name'].isnull().sum()

0

In [9]:
signup_ds['signup_os'].unique()

array(['ios web', 'windows', 'android web', nan, 'mac', 'other'], dtype=object)

**Observations about the 'signup_os' feature-**
1. The possible values for the 'signup_os' feature in the dataset information provided are '['android','ios','website','other']' whereas in the dataset the possible values are '['ios web', 'windows', 'android web', nan, 'mac', 'other']'.
2. null value exists for this feature

In [ ]:
#Number of null values for the 'signup_os' feature = 6857 (of 54681)
signup_ds['signup_os'].isnull().sum()

In [10]:
#Distribution of 'signup_os' feature
pd.value_counts(signup_ds['signup_os'].values,dropna=False)

ios web        16632
android web    14944
NaN             6857
windows         6776
mac             5824
other           3648
dtype: int64

In [11]:
signup_ds['signup_channel'].unique()

array(['Paid', 'Organic', 'Referral'], dtype=object)

**Observations about the 'signup_channel' feature-**
1. The possible values for the 'signup_channel' feature in the dataset information provided are '['offline','paid','organic','referral']' whereas in the dataset the possible values are '['Paid', 'Organic', 'Referral']'.

In [12]:
#Distribution of 'signup_channel' feature
pd.value_counts(signup_ds['signup_channel'].values,dropna=False)

Paid        23938
Referral    17316
Organic     13427
dtype: int64

In [13]:
signup_ds['signup_date'].unique()

array(['1/2/16', '1/21/16', '1/11/16', '1/29/16', '1/10/16', '1/18/16',
       '1/14/16', '1/26/16', '1/5/16', '1/25/16', '1/4/16', '1/12/16',
       '1/13/16', '1/15/16', '1/24/16', '1/16/16', '1/7/16', '1/6/16',
       '1/8/16', '1/28/16', '1/20/16', '1/9/16', '1/17/16', '1/1/16',
       '1/22/16', '1/27/16', '1/23/16', '1/19/16', '1/30/16', '1/3/16'], dtype=object)

**Observations about the 'signup_date' feature-**
1. The information about the dataset states 'To help explore this question, we have provided a sample dataset of a cohort of driver signups in January 2015.' but the unique values for the 'signup_date' feature indicates all the signups for the dataset provided happened in January 2016.
2. The name of the feature in the dataset information provide is 'signup_timestamp' which is the timestamp of account creation(local time) whereas in the dataset it is 'signup_date' and doesn't seem to include the time.
3. The date format specified in the dataset information is 'YYYY-MM-DD' whereas in the dataset it is 'MM/DD/YY'

In [14]:
#Distribution of 'signup_date' feature
pd.value_counts(signup_ds['signup_date'].values,dropna=False)

1/5/16     2489
1/4/16     2460
1/1/16     2282
1/6/16     2207
1/7/16     2078
1/21/16    2024
1/20/16    2013
1/11/16    1991
1/25/16    1912
1/26/16    1908
1/22/16    1904
1/3/16     1886
1/27/16    1838
1/2/16     1814
1/8/16     1788
1/12/16    1747
1/19/16    1745
1/13/16    1718
1/28/16    1706
1/23/16    1677
1/14/16    1671
1/9/16     1665
1/10/16    1614
1/29/16    1598
1/15/16    1595
1/18/16    1590
1/24/16    1489
1/16/16    1484
1/30/16    1466
1/17/16    1322
dtype: int64

In [15]:
signup_ds['bgc_date'].unique()

array([nan, '1/11/16', '2/3/16', '1/25/16', '1/18/16', '1/16/16', '2/5/16',
       '2/9/16', '1/12/16', '1/20/16', '1/7/16', '1/17/16', '1/15/16',
       '1/26/16', '2/26/16', '1/27/16', '1/3/16', '2/12/16', '2/8/16',
       '1/21/16', '2/2/16', '1/31/16', '1/22/16', '2/10/16', '1/24/16',
       '1/30/16', '1/23/16', '2/15/16', '2/4/16', '1/29/16', '1/19/16',
       '1/4/16', '2/19/16', '2/22/16', '2/6/16', '1/14/16', '1/28/16',
       '2/1/16', '2/11/16', '1/10/16', '2/17/16', '1/6/16', '2/7/16',
       '1/13/16', '1/9/16', '2/21/16', '1/2/16', '2/23/16', '1/1/16',
       '1/5/16', '1/8/16', '2/20/16', '2/14/16', '2/18/16', '2/13/16',
       '3/9/16', '2/24/16', '2/16/16', '2/28/16', '2/27/16', '3/25/16',
       '2/25/16', '3/7/16', '3/3/16', '2/29/16', '3/11/16', '3/4/16',
       '3/8/16', '3/15/16', '3/1/16', '3/2/16', '3/12/16', '3/6/16',
       '3/13/16', '3/10/16'], dtype=object)

**Observations about the 'bgc_date' feature-**
1. The date format specified in the dataset information is 'YYYY-MM-DD' whereas in the dataset it is 'MM/DD/YY'
2. null value exists for this feature

In [16]:
#Number of null values for the 'bgc_date' feature = 21785(of 54681)
signup_ds['bgc_date'].isnull().sum()

21785

In [17]:
#Distribution of 'bgc_date' feature
pd.value_counts(signup_ds['bgc_date'].values,dropna=False)

NaN        21785
1/29/16     1125
1/28/16     1103
1/30/16     1071
1/27/16     1071
1/22/16     1028
1/26/16     1027
1/25/16     1017
1/23/16      988
1/21/16      964
1/24/16      960
1/31/16      918
1/19/16      887
1/20/16      883
1/15/16      823
2/1/16       812
1/18/16      793
1/14/16      787
1/17/16      777
1/16/16      764
2/2/16       730
1/12/16      729
1/13/16      728
2/3/16       718
1/11/16      687
2/4/16       657
1/9/16       620
1/8/16       616
2/5/16       596
1/7/16       591
           ...
2/17/16      248
2/16/16      216
2/19/16      211
2/18/16      203
1/2/16       188
2/20/16      180
2/21/16      149
2/22/16      128
2/25/16      101
2/23/16      100
2/24/16       99
1/1/16        92
2/26/16       79
2/27/16       67
2/28/16       36
2/29/16       17
3/1/16         6
3/3/16         6
3/8/16         5
3/6/16         4
3/9/16         4
3/2/16         4
3/7/16         4
3/4/16         4
3/11/16        3
3/13/16        2
3/15/16        2
3/12/16        2
3/25/16        1
3/10/16        1
dtype: int64

In [18]:
signup_ds['vehicle_added_date'].unique()

array([nan, '2/3/16', '1/26/16', '1/22/16', '1/21/16', '2/24/16',
       '1/12/16', '1/17/16', '2/6/16', '1/28/16', '2/19/16', '2/22/16',
       '1/25/16', '2/1/16', '1/15/16', '2/11/16', '1/30/16', '2/18/16',
       '2/17/16', '1/14/16', '1/10/16', '1/23/16', '1/16/16', '2/20/16',
       '1/8/16', '2/23/16', '1/24/16', '2/4/16', '2/15/16', '2/21/16',
       '1/11/16', '1/29/16', '1/4/16', '2/12/16', '2/2/16', '1/9/16',
       '1/27/16', '2/29/16', '2/7/16', '1/20/16', '2/5/16', '2/13/16',
       '2/28/16', '2/8/16', '1/7/16', '2/25/16', '1/5/16', '1/31/16',
       '2/16/16', '1/19/16', '1/6/16', '2/27/16', '1/18/16', '2/14/16',
       '2/9/16', '1/13/16', '1/3/16', '2/26/16', '2/10/16', '3/10/16',
       '1/2/16', '3/3/16', '3/6/16', '3/2/16', '1/1/16', '3/7/16',
       '3/8/16', '3/16/16', '3/11/16', '3/5/16', '3/14/16', '3/1/16',
       '3/26/16', '3/4/16', '3/18/16', '3/13/16', '3/12/16', '3/15/16',
       '3/20/16'], dtype=object)

**Observations about the 'vehicle_added_date' feature-**
1. The date format specified in the dataset information is 'YYYY-MM-DD' whereas in the dataset it is 'MM/DD/YY'
2. null value exists for this feature

In [19]:
#Number of null values for the 'vehicle_added_date' feature = 41547(of 54681)
signup_ds['vehicle_added_date'].isnull().sum()

41547

In [20]:
#Distribution of 'vehicle_added_date' feature
pd.value_counts(signup_ds['vehicle_added_date'].values,dropna=False)

NaN        41547
1/26/16      377
1/28/16      370
1/22/16      336
1/29/16      331
1/24/16      328
1/31/16      320
1/27/16      312
1/30/16      310
1/21/16      308
1/23/16      302
1/25/16      302
1/20/16      288
2/1/16       287
1/19/16      287
1/16/16      279
1/17/16      270
2/2/16       266
2/4/16       266
1/13/16      254
1/15/16      249
1/18/16      249
2/3/16       249
2/6/16       236
2/5/16       232
1/12/16      229
1/14/16      226
2/8/16       217
2/9/16       217
1/11/16      212
           ...
2/27/16      163
2/25/16      162
2/19/16      162
2/15/16      161
2/24/16      159
2/26/16      156
2/28/16      153
1/4/16       149
2/29/16      144
1/3/16        69
1/2/16        35
1/1/16        15
3/1/16         6
3/2/16         5
3/3/16         4
3/11/16        4
3/14/16        3
3/6/16         3
3/16/16        3
3/10/16        2
3/5/16         2
3/4/16         2
3/7/16         2
3/20/16        1
3/8/16         1
3/18/16        1
3/13/16        1
3/15/16        1
3/26/16        1
3/12/16        1
dtype: int64

In [21]:
#for this feature check if the first_completed_date is later than the signup_date for each of the rows.
signup_ds['first_completed_date'].unique()

array([nan, '2/3/16', '1/23/16', '1/28/16', '1/16/16', '2/4/16', '1/22/16',
       '2/5/16', '2/7/16', '1/15/16', '1/17/16', '1/10/16', '1/30/16',
       '1/13/16', '1/26/16', '2/11/16', '2/22/16', '2/16/16', '1/11/16',
       '1/29/16', '2/1/16', '1/27/16', '1/25/16', '2/13/16', '2/20/16',
       '1/18/16', '1/21/16', '2/8/16', '1/31/16', '1/12/16', '1/5/16',
       '1/20/16', '1/24/16', '2/15/16', '1/7/16', '2/6/16', '2/12/16',
       '1/9/16', '2/10/16', '2/2/16', '2/9/16', '2/24/16', '2/21/16',
       '1/14/16', '2/23/16', '1/19/16', '2/14/16', '2/17/16', '1/6/16',
       '1/8/16', '1/4/16', '2/19/16', '2/18/16', '2/27/16', '2/28/16',
       '2/25/16', '2/26/16', '2/29/16'], dtype=object)

**Observations about the 'first_completed_date' feature-**
1. The name of the feature in the dataset information provide is 'first_trip_date' whereas in the dataset it is    'first_completed_date'. 
2. The date format specified in the dataset information is 'YYYY-MM-DD' whereas in the dataset it is 'MM/DD/YY'
3. null value exists for this feature

In [22]:
#Number of null values for the 'first_completed_date' feature = 48544(of 54681) imbalanced classes dataset?
signup_ds['first_completed_date'].isnull().sum()

48544

In [23]:
#fraction of driver signups that took a first trip
dec = signup_ds['first_completed_date'].notnull().sum() / signup_ds['first_completed_date'].shape
print(dec[0])
Fraction(dec[0]).limit_denominator()

0.112232768238

Fraction(6137, 54681)

In [24]:
#Distribution of 'first_completed_date' feature
pd.value_counts(signup_ds['first_completed_date'].values,dropna=False)

NaN        48544
1/23/16      257
1/30/16      243
1/29/16      218
1/22/16      215
1/26/16      209
1/28/16      208
1/20/16      199
1/27/16      190
2/6/16       188
1/21/16      184
1/16/16      181
1/15/16      179
2/2/16       173
2/4/16       169
2/3/16       168
1/9/16       158
1/24/16      151
1/31/16      150
2/1/16       147
2/5/16       142
1/14/16      140
2/7/16       130
1/13/16      126
1/17/16      123
1/12/16      115
1/25/16      114
1/19/16      111
2/9/16       102
2/12/16       97
1/18/16       96
1/8/16        94
1/7/16        94
2/11/16       93
2/10/16       89
2/8/16        82
2/13/16       75
1/5/16        72
1/11/16       70
1/10/16       65
1/6/16        64
2/15/16       54
2/20/16       53
2/18/16       44
2/17/16       44
2/14/16       39
2/16/16       39
2/19/16       38
2/21/16       31
2/23/16       27
2/22/16       24
2/24/16       17
2/27/16       12
1/4/16        10
2/25/16       10
2/26/16        8
2/28/16        5
2/29/16        1
dtype: int64

In [25]:
signup_ds['vehicle_make'].unique()

array([nan, 'Toyota', 'Hyundai', 'Cadillac', 'Kia', 'Dodge',
       'Mercedes-Benz', 'Infiniti', 'Honda', 'Fiat', 'Acura', 'Lexus',
       'GMC', 'Pontiac', 'Nissan', 'Jeep', 'Volkswagen', 'Ford', 'Audi',
       'Chevrolet', 'BMW', 'Subaru', 'Buick', 'Mazda', 'Chrysler', 'Scion',
       'Saturn', 'Volvo', 'Lincoln', 'Mitsubishi', 'Land Rover', 'Hummer',
       'Mercury', 'Porsche', 'Tesla', 'Jaguar', 'Mini', 'Saab', 'Suzuki',
       'Bicycle', 'Bike', 'Autobot', 'Isuzu', 'Maserati', 'Bentley',
       'Walker', 'Oldsmobile'], dtype=object)

**Observations about the 'vehicle_make' feature-**
1. The possible values for the 'vehicle_make' feature in the dataset information provided are '['Honda','Ford','Kia']' whereas in the dataset the possible values are '[nan, 'Toyota', 'Hyundai', 'Cadillac', 'Kia', 'Dodge',
'Mercedes-Benz', 'Infiniti', 'Honda', 'Fiat', 'Acura', 'Lexus',
'GMC', 'Pontiac', 'Nissan', 'Jeep', 'Volkswagen', 'Ford', 'Audi',
'Chevrolet', 'BMW', 'Subaru', 'Buick', 'Mazda', 'Chrysler', 'Scion',
'Saturn', 'Volvo', 'Lincoln', 'Mitsubishi', 'Land Rover', 'Hummer',
'Mercury', 'Porsche', 'Tesla', 'Jaguar', 'Mini', 'Saab', 'Suzuki',
'Bicycle', 'Bike', 'Autobot', 'Isuzu', 'Maserati', 'Bentley',
'Walker', 'Oldsmobile']'.
2. The vehicle make includes questionable values such as 'Bicycle', 'Bike', 'Walker'
3. null value exists for this feature

In [26]:
#Number of null values for the 'vehicle_make' feature = 41458(of 54681) 
signup_ds['vehicle_make'].isnull().sum()

41458

In [27]:
#Distribution of 'vehicle_make' feature
pd.value_counts(signup_ds['vehicle_make'].values,dropna=False)

NaN              41458
Toyota            3219
Honda             1845
Nissan            1311
Ford               778
Hyundai            677
Chevrolet          665
Kia                584
Volkswagen         503
Dodge              393
Mercedes-Benz      348
Lexus              335
BMW                330
Mazda              292
Subaru             221
Jeep               203
Chrysler           202
Acura              190
Scion              164
Infiniti           147
Audi               144
Mitsubishi         113
GMC                 89
Cadillac            86
Lincoln             70
Volvo               57
Buick               46
Saturn              30
Pontiac             30
Land Rover          20
Mini                20
Jaguar              15
Tesla               13
Suzuki              12
Fiat                11
Porsche             10
Mercury              9
Autobot              8
Saab                 7
Hummer               7
Bike                 6
Bicycle              5
Isuzu                2
Maserati             2
Bentley              2
Walker               1
Oldsmobile           1
dtype: int64

In [28]:
signup_ds['vehicle_model'].unique()

array([nan, 'Corolla', 'Sonata', 'DTS', 'Prius V', 'Optima', 'Durango',
       'C-Class', 'G Sedan', 'Civic', '500X', 'Escalade', 'RDX', 'ES',
       'Prius', 'CR-V', 'CT', 'Terrain', 'G6', 'Civic Hybrid', 'Accord',
       'Versa', 'Odyssey', 'Grand Cherokee', 'GTI', 'F-150', 'A4',
       'Insight Hybrid', 'Elantra', 'Camry', 'Sentra', 'Malibu', 'Soul',
       'Altima', 'Journey', 'Compass', '3-series', 'Cruze', 'Forester',
       'Century', 'MAZDA3', 'XV Crosstrek', 'Charger', 'Flex', '7-series',
       'RAV4', 'Traverse', 'Avenger', 'Jetta', 'Expedition', 'IS',
       'Town and Country', 'Sienna', 'iM', 'Freestyle', 'VUE', 'Avalon',
       'Tacoma', 'MAZDA6', 'Dart', 'Suburban', 'Xterra', 'Forte',
       'Highlander', 'Santa Fe', 'Focus', 'Q50', 'Impreza', 'xB', 'Fiesta',
       'Ridgeline', '5-series', 'Pilot', 'Fusion', 'Regal', 'Caravan',
       'E-Class', 'Rogue', '200', 'S80', 'Enclave', 'Nitro', 'Cavalier',
       'Pathfinder', 'Escape', 'Murano', 'Sportage', 'HR-V', 'Maxima',
       'Lucerne', 'Impala', 'CX-9', 'MDX', 'FX', 'Cherokee', 'Genesis',
       'Town Car', 'Accent', 'Passat', 'Torrent', 'xD', 'Tahoe', 'NX',
       'Equinox', 'Volt', 'Ion', 'X5', 'Outback', 'Rio', 'Outlander',
       'Yaris', 'A3', 'GS', 'PT Cruiser', 'Matrix', 'Golf', 'e-Golf',
       'Grand Prix', 'TLX', 'Lancer', 'Range Rover', 'Routan', '4Runner',
       'H2', 'RLX', 'Quest', 'Camry Hybrid', 'Prius C', 'Sedona', 'Galant',
       'MAZDA5', 'Jetta SportWagen', 'R-Class', 'Aveo', 'CTS', 'RX',
       'Baja', 'TSX', 'iA', 'Sequoia', 'Tiguan', 'xA', 'TL', 'JX', 'SL2',
       'Mariner', 'CT Hybrid', 'Tucson', 'Tundra', 'WRX', 'Wrangler',
       'Cayenne', 'Sorento', 'CX-5', 'GX', 'Altima Hybrid', 'LEAF', '500L',
       'Element', 'GL-Class', 'Liberty', 'Canyon', 'Borrego', 'Model S',
       '300', 'Cobalt', 'Taurus', 'Legacy', 'ML 350', 'XF', 'Fit', 'HHR',
       'Spark', 'Navigator L', 'Tribute', 'Prius+', 'Magnum', 'Edge',
       'SRX', 'Escape Hybrid', 'XG350', 'Spectra', 'C-Max Hybrid', 'Q5',
       'S40', 'Explorer', 'GLK-Class', 'Navigator', 'M-Class', 'Caliber',
       'Azera', 'ATS', 'Trailblazer', 'Ram 1500', 'Q7', 'M', 'Crosstour',
       'Countryman S', 'Patriot', 'Venza', 'X6', 'Accord Hybrid', 'Cooper',
       'Montero', 'GS Hybrid', 'Endeavor', 'Fusion Hybrid', 'Verano',
       'Sonic', 'S-Class', 'Sebring', 'V50', 'XC90', 'Envoy', 'Captiva',
       'LS', 'CLA-Class', '5-Sep', 'XL7', 'EX', 'XTS', 'Blazer',
       'CLS-Class', 'XJ', 'Silverado 1500', 'Juke', 'tC', 'MKZ',
       'GLA-Class', 'ML Class', 'Mirage', 'Veloster', 'Stratus', 'Acadia',
       '4-series Gran Coupe', 'Grand Marquis', 'Avalanche',
       'Transit Connect', 'F-250', 'GLI', 'MKS', 'Touareg', 'Renegade',
       'ILX', 'Delivery', 'Santa Fe Sport', 'Yukon', 'Taurus X', 'H3',
       'Grand Caravan', 'Bicycle', '300 H', 'Frontier', 'A6', 'Dakota',
       'C-Max', 'Titan', 'Vibe', 'X3', 'Trax', 'MKC', 'S4', 'Uplander',
       'Cube', 'CX-7', 'Mustang', 'V70', '6-series Gran Coupe', 'MAZDA2',
       'CC', 'Sierra', 'Rabbit', 'FJ Cruiser', 'LaCrosse', 'X-Type',
       'XC70', 'RL', 'i3', 'Optimus Prime', 'I', 'X1', 'Grand Am',
       'Crown Victoria', 'Entourage', 'Sierra 1500', 'Commander',
       'Colorado', 'MPV', 'Countryman', 'Freestar', 'Tribeca', 'HS Hybrid',
       '500', 'Aura', 'QX60', 'Kizashi', 'Ram 2500', 'S60', '3-Sep', 'STS',
       'XC60', 'Silverado 2500HD', 'QX56', 'K900', 'G3', 'L300',
       'Land Rover', 'Q45', 'SL1', 'Armada', 'Rendezvous', 'Tracker',
       'S-Type', 'Rodeo', 'Rainier', 'Allroad', 'Equus', 'Echo', 'Vitara',
       'LeSabre', 'Ghibli', 'CLK-Class', 'DeVille', 'MKT', 'Veracruz',
       'Encore', 'Venture', 'Grand Vitara', 'Camaro', 'Beetle',
       'Continental', 'F350', 'Protege', 'LX', 'Monterey', 'QX4', 'Q3',
       'Zephyr', 'Camry Solara', 'MKX', 'Amanti', 'A8', 'Five Hundred',
       'SSR', 'Forenza', 'Voyager', 'Q40', 'QX50', 'Neon', 'Aspen',
       'Safari', 'Rondo', 'LR4', 'Jetta Hybrid', 'Outlook', 'FR-S',
       'Metris', 'SX4', 'Mountaineer', 'Classic', 'E-150 Cargo - WAV',
       'F-350', 'Bravada', 'Silverado 1500 4door', 'Aviator', 'ZDX',
       'Cadenza', 'Prizm', 'Pacifica'], dtype=object)

**Observations about the 'vehicle_model' feature-**
1. The possible values for the 'vehicle_model' feature in the dataset information provided are '['Accord','Prius','350z']' whereas the dataset indicates much more possible values. Check for the validity of the provided models. (Avenger - used in military, IS, F-150-pickup truck etc.)
2. null value exists for this feature

In [29]:
#Number of null values for the 'vehicle_model' feature = 41458(of 54681) no make = no model
signup_ds['vehicle_model'].isnull().sum()

41458

In [30]:
#Distribution of 'vehicle_model' feature
pd.value_counts(signup_ds['vehicle_model'].values,dropna=False)

NaN                     41458
Civic                     689
Corolla                   688
Camry                     683
Accord                    595
Prius V                   522
Altima                    422
Prius                     369
Sentra                    330
Sonata                    259
Elantra                   255
Optima                    212
Jetta                     205
CR-V                      193
Versa                     192
RAV4                      189
Fusion                    186
3-series                  163
Focus                     158
Sienna                    154
MAZDA3                    146
C-Class                   145
Malibu                    127
Passat                    120
Prius C                   118
Soul                      117
Odyssey                   113
Cruze                     109
Escape                    107
Highlander                106
                        ...
i3                          1
ZDX                         1
QX50                        1
E-150 Cargo - WAV           1
Safari                      1
6-series Gran Coupe         1
SSR                         1
F-350                       1
Q45                         1
RLX                         1
Allroad                     1
Metris                      1
Venture                     1
Blazer                      1
CLK-Class                   1
5-Sep                       1
LX                          1
Beetle                      1
Silverado 1500 4door        1
Torrent                     1
Rondo                       1
Veloster                    1
Vitara                      1
Voyager                     1
Rainier                     1
QX4                         1
Mountaineer                 1
Jetta Hybrid                1
SL2                         1
SX4                         1
dtype: int64

In [31]:
signup_ds['vehicle_year'].unique()

array([   nan,  2016.,  2006.,  2014.,  2015.,  2010.,  2012.,  2011.,
        2008.,  2007.,  2013.,  2005.,  2001.,  2009.,  2004.,  2002.,
        2003.,  2017.,  2000.,  1999.,  1996.,  1997.,  1998.,     0.,
        1995.])

**Observations about the 'vehicle_year' feature-**
1. Each year has a period at the end which needs to be cleaned. The dataset description specifies year in the form YYYY
2. year 0 exists for this feature which needs to be cleaned
3. null value exists for this feature

In [32]:
#Number of null values for the 'vehicle_year' feature = 41458(of 54681) no make = no model = no vehicle year
signup_ds['vehicle_year'].isnull().sum()

41458

In [33]:
#Distribution of 'vehicle_year' feature
pd.value_counts(signup_ds['vehicle_year'].values,dropna=False)

NaN        41458
 2015.0     2402
 2014.0     1655
 2013.0     1451
 2016.0     1150
 2012.0     1122
 2007.0      711
 2011.0      702
 2008.0      659
 2010.0      645
 2006.0      550
 2009.0      513
 2005.0      450
 2004.0      369
 2003.0      350
 2002.0      251
 2001.0      169
 2000.0       29
 1999.0       14
 1998.0       10
 1997.0        6
 2017.0        6
 1996.0        4
 0.0           4
 1995.0        1
dtype: int64

In [ ]:
#pd.set_option("display.max_rows", None)

**Check for null values in the dataset**

**Determines if the dataset has any null values**

In [ ]:
signup_ds.isnull().values.any()

**Determines the number of null values in a dataset**

In [ ]:
signup_ds.isnull().sum().sum()

**Find the columns/features that have null values**

In [34]:
signup_ds.isnull().any()

id                      False
city_name               False
signup_os                True
signup_channel          False
signup_date             False
bgc_date                 True
vehicle_added_date       True
vehicle_make             True
vehicle_model            True
vehicle_year             True
first_completed_date     True
dtype: bool

In [35]:
#Create a copy of signup_ds

signup_ds_copy = signup_ds

**Imputing data for null values**

In [36]:
from sklearn.base import TransformerMixin

class SeriesImputer(TransformerMixin):

    def __init__(self):
        """Impute missing values.

        If the Series is of dtype Object, then impute with the most frequent object.
        If the Series is not of dtype Object, then impute with the mean.  

        """
    def fit(self, X, y=None):
      if   X.dtype == np.dtype('O'): self.fill = 'other'
      else                            : self.fill = X.mean()
      return self

    def transform(self, X, y=None):
       return X.fillna(self.fill)

In [ ]:
# Imputing data for 'signup_os' variable null values with frequently occuring value

sos = signup_ds['signup_os']

a  = SeriesImputer()   # Initialize the imputer
a.fit(sos)              # Fit the imputer
updated_signup_os = a.transform(sos)   # Get a new series
updated_signup_os

In [41]:
#Concatenating 'updated_signup_os' column to the signup_ds dataset

signup_ds_mod = pd.concat([signup_ds, updated_signup_os.rename('signup_os_mod')], axis =1)
signup_ds_mod.head(10)

,id,city_name,signup_os,signup_channel,signup_date,bgc_date,vehicle_added_date,vehicle_make,vehicle_model,vehicle_year,first_completed_date,signup_os_mod
0,1,Strark,ios web,Paid,1/2/16,NaN,NaN,NaN,NaN,NaN,NaN,ios web
1,2,Strark,windows,Paid,1/21/16,NaN,NaN,NaN,NaN,NaN,NaN,windows
2,3,Wrouver,windows,Organic,1/11/16,1/11/16,NaN,NaN,NaN,NaN,NaN,windows
3,4,Berton,android web,Referral,1/29/16,2/3/16,2/3/16,Toyota,Corolla,2016.0,2/3/16,android web
4,5,Strark,android web,Referral,1/10/16,1/25/16,1/26/16,Hyundai,Sonata,2016.0,NaN,android web
5,6,Strark,android web,Referral,1/18/16,1/18/16,1/22/16,Cadillac,DTS,2006.0,NaN,android web
6,7,Strark,ios web,Paid,1/14/16,1/16/16,1/21/16,Toyota,Prius V,2014.0,1/23/16,ios web
7,8,Strark,ios web,Referral,1/26/16,2/5/16,NaN,NaN,NaN,NaN,NaN,ios web
8,9,Strark,NaN,Referral,1/5/16,NaN,NaN,NaN,NaN,NaN,NaN,other
9,10,Berton,ios web,Paid,1/25/16,NaN,NaN,NaN,NaN,NaN,NaN,ios web

In [ ]:
# Imputing data for 'bgc_date' variable null values with 0
bgc_date_mod = signup_ds['bgc_date']
bgc_date_mod.fillna(value=0, inplace=True)
bgc_date_mod

In [43]:
#Concatenating 'bgc_date_mod' column to the signup_ds_mod dataset

signup_ds_mod = pd.concat((signup_ds_mod, bgc_date_mod.rename('bgc_date_mod')), axis=1)
signup_ds_mod.head()

,id,city_name,signup_os,signup_channel,signup_date,bgc_date,vehicle_added_date,vehicle_make,vehicle_model,vehicle_year,first_completed_date,signup_os_mod,bgc_date_mod
0,1,Strark,ios web,Paid,1/2/16,NaN,NaN,NaN,NaN,NaN,NaN,ios web,0
1,2,Strark,windows,Paid,1/21/16,NaN,NaN,NaN,NaN,NaN,NaN,windows,0
2,3,Wrouver,windows,Organic,1/11/16,1/11/16,NaN,NaN,NaN,NaN,NaN,windows,1/11/16
3,4,Berton,android web,Referral,1/29/16,2/3/16,2/3/16,Toyota,Corolla,2016.0,2/3/16,android web,2/3/16
4,5,Strark,android web,Referral,1/10/16,1/25/16,1/26/16,Hyundai,Sonata,2016.0,NaN,android web,1/25/16

In [ ]:
#Converting 'bgc_date' column to datetime format. NaN values would be converted to NaT values.
bgc_date_dtformat = pd.to_datetime(signup_ds_mod['bgc_date'], coerce=True)
bgc_date_dtformat

In [ ]:
# Imputing data for 'vehicle_added_date' variable null values with 0
vehicle_added_date_mod = signup_ds['vehicle_added_date']
vehicle_added_date_mod.fillna(value=0, inplace=True)
vehicle_added_date_mod

In [45]:
#Concatenating 'vehicle_added_date_mod' column to the signup_ds_mod dataset

signup_ds_mod = pd.concat((signup_ds_mod, vehicle_added_date_mod.rename('vehicle_added_date_mod')), axis=1)
signup_ds_mod.head()

,id,city_name,signup_os,signup_channel,signup_date,bgc_date,vehicle_added_date,vehicle_make,vehicle_model,vehicle_year,first_completed_date,signup_os_mod,bgc_date_mod,vehicle_added_date_mod
0,1,Strark,ios web,Paid,1/2/16,NaN,NaN,NaN,NaN,NaN,NaN,ios web,0,0
1,2,Strark,windows,Paid,1/21/16,NaN,NaN,NaN,NaN,NaN,NaN,windows,0,0
2,3,Wrouver,windows,Organic,1/11/16,1/11/16,NaN,NaN,NaN,NaN,NaN,windows,1/11/16,0
3,4,Berton,android web,Referral,1/29/16,2/3/16,2/3/16,Toyota,Corolla,2016.0,2/3/16,android web,2/3/16,2/3/16
4,5,Strark,android web,Referral,1/10/16,1/25/16,1/26/16,Hyundai,Sonata,2016.0,NaN,android web,1/25/16,1/26/16

In [ ]:
#Converting 'vehicle_added_date' column to datetime format. NaN values would be converted to NaT values.
veh_added_date_dtformat = pd.to_datetime(signup_ds_mod['vehicle_added_date'], coerce=True)
veh_added_date_dtformat

In [ ]:
# Imputing data for 'vehicle_make' variable null values with 'missing'
vehicle_make_mod = signup_ds['vehicle_make']
vehicle_make_mod.fillna(value='missing', inplace=True)
vehicle_make_mod

In [47]:
#Concatenating 'vehicle_make_mod' column to the signup_ds_mod dataset

signup_ds_mod = pd.concat((signup_ds_mod, vehicle_make_mod.rename('vehicle_make_mod')), axis=1)
signup_ds_mod.head()

,id,city_name,signup_os,signup_channel,signup_date,bgc_date,vehicle_added_date,vehicle_make,vehicle_model,vehicle_year,first_completed_date,signup_os_mod,bgc_date_mod,vehicle_added_date_mod,vehicle_make_mod
0,1,Strark,ios web,Paid,1/2/16,NaN,NaN,NaN,NaN,NaN,NaN,ios web,0,0,missing
1,2,Strark,windows,Paid,1/21/16,NaN,NaN,NaN,NaN,NaN,NaN,windows,0,0,missing
2,3,Wrouver,windows,Organic,1/11/16,1/11/16,NaN,NaN,NaN,NaN,NaN,windows,1/11/16,0,missing
3,4,Berton,android web,Referral,1/29/16,2/3/16,2/3/16,Toyota,Corolla,2016.0,2/3/16,android web,2/3/16,2/3/16,Toyota
4,5,Strark,android web,Referral,1/10/16,1/25/16,1/26/16,Hyundai,Sonata,2016.0,NaN,android web,1/25/16,1/26/16,Hyundai

In [ ]:
# Imputing data for 'vehicle_model' variable null values with 'missing'
vehicle_model_mod = signup_ds['vehicle_model']
vehicle_model_mod.fillna(value='missing', inplace=True)
vehicle_model_mod

In [49]:
#Concatenating 'vehicle_model_mod' column to the signup_ds_mod dataset

signup_ds_mod = pd.concat((signup_ds_mod, vehicle_model_mod.rename('vehicle_model_mod')), axis=1)
signup_ds_mod.head()

,id,city_name,signup_os,signup_channel,signup_date,bgc_date,vehicle_added_date,vehicle_make,vehicle_model,vehicle_year,first_completed_date,signup_os_mod,bgc_date_mod,vehicle_added_date_mod,vehicle_make_mod,vehicle_model_mod
0,1,Strark,ios web,Paid,1/2/16,NaN,NaN,NaN,NaN,NaN,NaN,ios web,0,0,missing,missing
1,2,Strark,windows,Paid,1/21/16,NaN,NaN,NaN,NaN,NaN,NaN,windows,0,0,missing,missing
2,3,Wrouver,windows,Organic,1/11/16,1/11/16,NaN,NaN,NaN,NaN,NaN,windows,1/11/16,0,missing,missing
3,4,Berton,android web,Referral,1/29/16,2/3/16,2/3/16,Toyota,Corolla,2016.0,2/3/16,android web,2/3/16,2/3/16,Toyota,Corolla
4,5,Strark,android web,Referral,1/10/16,1/25/16,1/26/16,Hyundai,Sonata,2016.0,NaN,android web,1/25/16,1/26/16,Hyundai,Sonata

In [50]:
# Imputing data for 'vehicle_year' variable null values with 0
#Check out the row with vehicle_year value as 0 i.e. value for vehicle_year does not exist
signup_ds_mod[signup_ds_mod['vehicle_year']==0]

,id,city_name,signup_os,signup_channel,signup_date,bgc_date,vehicle_added_date,vehicle_make,vehicle_model,vehicle_year,first_completed_date,signup_os_mod,bgc_date_mod,vehicle_added_date_mod,vehicle_make_mod,vehicle_model_mod
20017,20018,Berton,other,Organic,1/13/16,NaN,2/29/16,Bike,Bicycle,0.0,NaN,other,0,2/29/16,Bike,Bicycle
44837,44838,Strark,mac,Organic,1/17/16,1/21/16,1/26/16,Chevrolet,Camaro,0.0,NaN,mac,1/21/16,1/26/16,Chevrolet,Camaro
48128,48129,Strark,ios web,Paid,1/6/16,1/9/16,1/10/16,Ford,E-150 Cargo - WAV,0.0,NaN,ios web,1/9/16,1/10/16,Ford,E-150 Cargo - WAV
49606,49607,Strark,mac,Organic,1/13/16,1/21/16,1/24/16,Subaru,Impreza,0.0,NaN,mac,1/21/16,1/24/16,Subaru,Impreza

In [ ]:
# Imputing data for 'vehicle_year' variable null values with 0.0
vehicle_year_mod = signup_ds['vehicle_year']
vehicle_year_mod.fillna(value=0.0, inplace=True)
vehicle_year_mod

In [52]:
#Concatenating 'vehicle_year_mod' column to the signup_ds_mod dataset

signup_ds_mod = pd.concat((signup_ds_mod, vehicle_year_mod.rename('vehicle_year_mod')), axis=1)
signup_ds_mod.head()

,id,city_name,signup_os,signup_channel,signup_date,bgc_date,vehicle_added_date,vehicle_make,vehicle_model,vehicle_year,first_completed_date,signup_os_mod,bgc_date_mod,vehicle_added_date_mod,vehicle_make_mod,vehicle_model_mod,vehicle_year_mod
0,1,Strark,ios web,Paid,1/2/16,NaN,NaN,NaN,NaN,NaN,NaN,ios web,0,0,missing,missing,0.0
1,2,Strark,windows,Paid,1/21/16,NaN,NaN,NaN,NaN,NaN,NaN,windows,0,0,missing,missing,0.0
2,3,Wrouver,windows,Organic,1/11/16,1/11/16,NaN,NaN,NaN,NaN,NaN,windows,1/11/16,0,missing,missing,0.0
3,4,Berton,android web,Referral,1/29/16,2/3/16,2/3/16,Toyota,Corolla,2016.0,2/3/16,android web,2/3/16,2/3/16,Toyota,Corolla,2016.0
4,5,Strark,android web,Referral,1/10/16,1/25/16,1/26/16,Hyundai,Sonata,2016.0,NaN,android web,1/25/16,1/26/16,Hyundai,Sonata,2016.0

In [ ]:
# Imputing data for 'first_completed_date' variable null values with 0
first_completed_date_mod = signup_ds['first_completed_date']
first_completed_date_mod.fillna(value=0, inplace=True)
first_completed_date_mod

In [54]:
#Concatenating 'first_completed_date_mod' column to the signup_ds_mod dataset

signup_ds_mod = pd.concat((signup_ds_mod, first_completed_date_mod.rename('first_completed_date_mod')), axis=1)
signup_ds_mod.head()

,id,city_name,signup_os,signup_channel,signup_date,bgc_date,vehicle_added_date,vehicle_make,vehicle_model,vehicle_year,first_completed_date,signup_os_mod,bgc_date_mod,vehicle_added_date_mod,vehicle_make_mod,vehicle_model_mod,vehicle_year_mod,first_completed_date_mod
0,1,Strark,ios web,Paid,1/2/16,NaN,NaN,NaN,NaN,NaN,NaN,ios web,0,0,missing,missing,0.0,0
1,2,Strark,windows,Paid,1/21/16,NaN,NaN,NaN,NaN,NaN,NaN,windows,0,0,missing,missing,0.0,0
2,3,Wrouver,windows,Organic,1/11/16,1/11/16,NaN,NaN,NaN,NaN,NaN,windows,1/11/16,0,missing,missing,0.0,0
3,4,Berton,android web,Referral,1/29/16,2/3/16,2/3/16,Toyota,Corolla,2016.0,2/3/16,android web,2/3/16,2/3/16,Toyota,Corolla,2016.0,2/3/16
4,5,Strark,android web,Referral,1/10/16,1/25/16,1/26/16,Hyundai,Sonata,2016.0,NaN,android web,1/25/16,1/26/16,Hyundai,Sonata,2016.0,0

In [ ]:
#Converting 'first_completed_date' column to datetime format. NaN values would be converted to NaT values.
first_completed_date_dtformat = pd.to_datetime(signup_ds_mod['first_completed_date'], coerce=True)
first_completed_date_dtformat

In [59]:
#Create a new column 'driving' as target variable with value 1 for 'driving' and value 0 for 'not_driving'
driving = signup_ds_mod['first_completed_date_mod']
driving[driving !=0] = 1

/Users/Sonal/anaconda/envs/py35/lib/python3.5/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [66]:
#Concatenating 'driving' column to the signup_ds_mod dataset

signup_ds_mod = pd.concat((signup_ds_mod, driving.rename('driving')), axis=1)
signup_ds_mod.head(10)

,id,city_name,signup_os,signup_channel,signup_date,bgc_date,vehicle_added_date,vehicle_make,vehicle_model,vehicle_year,first_completed_date,signup_os_mod,bgc_date_mod,vehicle_added_date_mod,vehicle_make_mod,vehicle_model_mod,vehicle_year_mod,first_completed_date_mod,driving,driving
0,1,Strark,ios web,Paid,1/2/16,NaN,NaN,NaN,NaN,NaN,NaN,ios web,0,0,missing,missing,0.0,0,0,0
1,2,Strark,windows,Paid,1/21/16,NaN,NaN,NaN,NaN,NaN,NaN,windows,0,0,missing,missing,0.0,0,0,0
2,3,Wrouver,windows,Organic,1/11/16,1/11/16,NaN,NaN,NaN,NaN,NaN,windows,1/11/16,0,missing,missing,0.0,0,0,0
3,4,Berton,android web,Referral,1/29/16,2/3/16,2/3/16,Toyota,Corolla,2016.0,2/3/16,android web,2/3/16,2/3/16,Toyota,Corolla,2016.0,1,1,1
4,5,Strark,android web,Referral,1/10/16,1/25/16,1/26/16,Hyundai,Sonata,2016.0,NaN,android web,1/25/16,1/26/16,Hyundai,Sonata,2016.0,0,0,0
5,6,Strark,android web,Referral,1/18/16,1/18/16,1/22/16,Cadillac,DTS,2006.0,NaN,android web,1/18/16,1/22/16,Cadillac,DTS,2006.0,0,0,0
6,7,Strark,ios web,Paid,1/14/16,1/16/16,1/21/16,Toyota,Prius V,2014.0,1/23/16,ios web,1/16/16,1/21/16,Toyota,Prius V,2014.0,1,1,1
7,8,Strark,ios web,Referral,1/26/16,2/5/16,NaN,NaN,NaN,NaN,NaN,ios web,2/5/16,0,missing,missing,0.0,0,0,0
8,9,Strark,NaN,Referral,1/5/16,NaN,NaN,NaN,NaN,NaN,NaN,other,0,0,missing,missing,0.0,0,0,0
9,10,Berton,ios web,Paid,1/25/16,NaN,NaN,NaN,NaN,NaN,NaN,ios web,0,0,missing,missing,0.0,0,0,0

In [63]:
#Create dataset which will have no null(NaN) values
signup_nonull_ds = signup_ds_mod

In [65]:
signup_nonull_ds.columns

Index(['id', 'city_name', 'signup_os', 'signup_channel', 'signup_date',
       'bgc_date', 'vehicle_added_date', 'vehicle_make', 'vehicle_model',
       'vehicle_year', 'first_completed_date', 'signup_os_mod', 'bgc_date_mod',
       'vehicle_added_date_mod', 'vehicle_make_mod', 'vehicle_model_mod',
       'vehicle_year_mod', 'first_completed_date_mod', 'driving'],
      dtype='object')

In [67]:
signup_nonull_ds.head(10)

,id,city_name,signup_os,signup_channel,signup_date,bgc_date,vehicle_added_date,vehicle_make,vehicle_model,vehicle_year,first_completed_date,signup_os_mod,bgc_date_mod,vehicle_added_date_mod,vehicle_make_mod,vehicle_model_mod,vehicle_year_mod,first_completed_date_mod,driving
0,1,Strark,ios web,Paid,1/2/16,NaN,NaN,NaN,NaN,NaN,NaN,ios web,0,0,missing,missing,0.0,0,0
1,2,Strark,windows,Paid,1/21/16,NaN,NaN,NaN,NaN,NaN,NaN,windows,0,0,missing,missing,0.0,0,0
2,3,Wrouver,windows,Organic,1/11/16,1/11/16,NaN,NaN,NaN,NaN,NaN,windows,1/11/16,0,missing,missing,0.0,0,0
3,4,Berton,android web,Referral,1/29/16,2/3/16,2/3/16,Toyota,Corolla,2016.0,2/3/16,android web,2/3/16,2/3/16,Toyota,Corolla,2016.0,1,1
4,5,Strark,android web,Referral,1/10/16,1/25/16,1/26/16,Hyundai,Sonata,2016.0,NaN,android web,1/25/16,1/26/16,Hyundai,Sonata,2016.0,0,0
5,6,Strark,android web,Referral,1/18/16,1/18/16,1/22/16,Cadillac,DTS,2006.0,NaN,android web,1/18/16,1/22/16,Cadillac,DTS,2006.0,0,0
6,7,Strark,ios web,Paid,1/14/16,1/16/16,1/21/16,Toyota,Prius V,2014.0,1/23/16,ios web,1/16/16,1/21/16,Toyota,Prius V,2014.0,1,1
7,8,Strark,ios web,Referral,1/26/16,2/5/16,NaN,NaN,NaN,NaN,NaN,ios web,2/5/16,0,missing,missing,0.0,0,0
8,9,Strark,NaN,Referral,1/5/16,NaN,NaN,NaN,NaN,NaN,NaN,other,0,0,missing,missing,0.0,0,0
9,10,Berton,ios web,Paid,1/25/16,NaN,NaN,NaN,NaN,NaN,NaN,ios web,0,0,missing,missing,0.0,0,0

In [68]:
signup_nonull_ds.drop(['signup_os','bgc_date','vehicle_added_date','vehicle_make','vehicle_model','vehicle_year','first_completed_date','first_completed_date_mod'],inplace=True,axis=1)

In [93]:
#Concatenating 'first_completed_date_mod' column to the signup_nonull_ds dataset

signup_nonull_ds = pd.concat((signup_nonull_ds, first_completed_date_mod.rename('first_completed_date_mod')), axis=1)
signup_nonull_ds.head()

,id,city_name,signup_os_mod,signup_channel,signup_date,bgc_date_mod,vehicle_added_date_mod,vehicle_make_mod,vehicle_model_mod,vehicle_year_mod,driving,first_completed_date_mod
0,1,Strark,ios web,Paid,1/2/16,0,0,missing,missing,0.0,0,0
1,2,Strark,windows,Paid,1/21/16,0,0,missing,missing,0.0,0,0
2,3,Wrouver,windows,Organic,1/11/16,1/11/16,0,missing,missing,0.0,0,0
3,4,Berton,android web,Referral,1/29/16,2/3/16,2/3/16,Toyota,Corolla,2016.0,1,2/3/16
4,5,Strark,android web,Referral,1/10/16,1/25/16,1/26/16,Hyundai,Sonata,2016.0,0,0

In [94]:
signup_nonull_ds.head(10)

,id,city_name,signup_os_mod,signup_channel,signup_date,bgc_date_mod,vehicle_added_date_mod,vehicle_make_mod,vehicle_model_mod,vehicle_year_mod,driving,first_completed_date_mod
0,1,Strark,ios web,Paid,1/2/16,0,0,missing,missing,0.0,0,0
1,2,Strark,windows,Paid,1/21/16,0,0,missing,missing,0.0,0,0
2,3,Wrouver,windows,Organic,1/11/16,1/11/16,0,missing,missing,0.0,0,0
3,4,Berton,android web,Referral,1/29/16,2/3/16,2/3/16,Toyota,Corolla,2016.0,1,2/3/16
4,5,Strark,android web,Referral,1/10/16,1/25/16,1/26/16,Hyundai,Sonata,2016.0,0,0
5,6,Strark,android web,Referral,1/18/16,1/18/16,1/22/16,Cadillac,DTS,2006.0,0,0
6,7,Strark,ios web,Paid,1/14/16,1/16/16,1/21/16,Toyota,Prius V,2014.0,1,1/23/16
7,8,Strark,ios web,Referral,1/26/16,2/5/16,0,missing,missing,0.0,0,0
8,9,Strark,other,Referral,1/5/16,0,0,missing,missing,0.0,0,0
9,10,Berton,ios web,Paid,1/25/16,0,0,missing,missing,0.0,0,0

In [95]:
#Rearranging the columns in the original sequence
signup_nonull_ds = signup_nonull_ds[['id','city_name','signup_os_mod','signup_channel','signup_date','bgc_date_mod','vehicle_added_date_mod','vehicle_make_mod','vehicle_model_mod','vehicle_year_mod','first_completed_date_mod','driving']]
signup_nonull_ds.head(10)

,id,city_name,signup_os_mod,signup_channel,signup_date,bgc_date_mod,vehicle_added_date_mod,vehicle_make_mod,vehicle_model_mod,vehicle_year_mod,first_completed_date_mod,driving
0,1,Strark,ios web,Paid,1/2/16,0,0,missing,missing,0.0,0,0
1,2,Strark,windows,Paid,1/21/16,0,0,missing,missing,0.0,0,0
2,3,Wrouver,windows,Organic,1/11/16,1/11/16,0,missing,missing,0.0,0,0
3,4,Berton,android web,Referral,1/29/16,2/3/16,2/3/16,Toyota,Corolla,2016.0,2/3/16,1
4,5,Strark,android web,Referral,1/10/16,1/25/16,1/26/16,Hyundai,Sonata,2016.0,0,0
5,6,Strark,android web,Referral,1/18/16,1/18/16,1/22/16,Cadillac,DTS,2006.0,0,0
6,7,Strark,ios web,Paid,1/14/16,1/16/16,1/21/16,Toyota,Prius V,2014.0,1/23/16,1
7,8,Strark,ios web,Referral,1/26/16,2/5/16,0,missing,missing,0.0,0,0
8,9,Strark,other,Referral,1/5/16,0,0,missing,missing,0.0,0,0
9,10,Berton,ios web,Paid,1/25/16,0,0,missing,missing,0.0,0,0

In [96]:
#Confirm all the null values from the dataset have been removed
signup_nonull_ds.isnull().values.any()

False

In [97]:
signup_nonull_ds.isnull().any()

id                          False
city_name                   False
signup_os_mod               False
signup_channel              False
signup_date                 False
bgc_date_mod                False
vehicle_added_date_mod      False
vehicle_make_mod            False
vehicle_model_mod           False
vehicle_year_mod            False
first_completed_date_mod    False
driving                     False
dtype: bool

In [105]:
#Create backup of signup_nonull_ds dataframe
signup_nonull_ds_bup = signup_nonull_ds

In [106]:
signup_nonull_ds_bup.shape

(54681, 12)

**Feature Engineering**

In [117]:
#Create new features for signup_bgc_dtdiff, signup_veh_added_dtdiff, bgc_veh_added_dtdiff 

signup_nonull_ds.dtypes

id                                   int64
city_name                           object
signup_os_mod                       object
signup_channel                      object
signup_date                 datetime64[ns]
bgc_date_mod                        object
vehicle_added_date_mod              object
vehicle_make_mod                    object
vehicle_model_mod                   object
vehicle_year_mod                   float64
first_completed_date_mod            object
driving                             object
dtype: object

In [111]:
signup_nonull_ds['signup_date'] = signup_nonull_ds['signup_date'].apply(pd.to_datetime)

In [125]:
#Converting the bgc_date_mod variable to datetime format in the signup_nonull_ds dataframe

#Concatenating 'bgc_date_dtformat' column to the signup_nonull_ds dataset

signup_nonull_ds = pd.concat((signup_nonull_ds, bgc_date_dtformat.rename('bgc_date_dtformat')), axis=1)
signup_nonull_ds.head()

,id,city_name,signup_os_mod,signup_channel,signup_date,bgc_date_mod,vehicle_added_date_mod,vehicle_make_mod,vehicle_model_mod,vehicle_year_mod,first_completed_date_mod,driving,bgc_date_dtformat
0,1,Strark,ios web,Paid,2016-01-02,0,0,missing,missing,0.0,0,0,NaT
1,2,Strark,windows,Paid,2016-01-21,0,0,missing,missing,0.0,0,0,NaT
2,3,Wrouver,windows,Organic,2016-01-11,1/11/16,0,missing,missing,0.0,0,0,2016-01-11
3,4,Berton,android web,Referral,2016-01-29,2/3/16,2/3/16,Toyota,Corolla,2016.0,2/3/16,1,2016-02-03
4,5,Strark,android web,Referral,2016-01-10,1/25/16,1/26/16,Hyundai,Sonata,2016.0,0,0,2016-01-25

In [126]:
#Converting the vehicle_added_date_mod variable to datetime format in the signup_nonull_ds dataframe

#Concatenating 'veh_added_date_dtformat' column to the signup_nonull_ds dataset

signup_nonull_ds = pd.concat((signup_nonull_ds, veh_added_date_dtformat.rename('veh_added_date_dtformat')), axis=1)
signup_nonull_ds.head()

,id,city_name,signup_os_mod,signup_channel,signup_date,bgc_date_mod,vehicle_added_date_mod,vehicle_make_mod,vehicle_model_mod,vehicle_year_mod,first_completed_date_mod,driving,bgc_date_dtformat,veh_added_date_dtformat
0,1,Strark,ios web,Paid,2016-01-02,0,0,missing,missing,0.0,0,0,NaT,NaT
1,2,Strark,windows,Paid,2016-01-21,0,0,missing,missing,0.0,0,0,NaT,NaT
2,3,Wrouver,windows,Organic,2016-01-11,1/11/16,0,missing,missing,0.0,0,0,2016-01-11,NaT
3,4,Berton,android web,Referral,2016-01-29,2/3/16,2/3/16,Toyota,Corolla,2016.0,2/3/16,1,2016-02-03,2016-02-03
4,5,Strark,android web,Referral,2016-01-10,1/25/16,1/26/16,Hyundai,Sonata,2016.0,0,0,2016-01-25,2016-01-26

In [128]:
#Converting the first_completed_date_mod variable to datetime format in the signup_nonull_ds dataframe

#Concatenating 'first_completed_date_dtformat' column to the signup_nonull_ds dataset

signup_nonull_ds = pd.concat((signup_nonull_ds, first_completed_date_dtformat.rename('first_completed_date_dtformat')), axis=1)
signup_nonull_ds.head()

,id,city_name,signup_os_mod,signup_channel,signup_date,bgc_date_mod,vehicle_added_date_mod,vehicle_make_mod,vehicle_model_mod,vehicle_year_mod,first_completed_date_mod,driving,bgc_date_dtformat,veh_added_date_dtformat,first_completed_date_dtformat
0,1,Strark,ios web,Paid,2016-01-02,0,0,missing,missing,0.0,0,0,NaT,NaT,NaT
1,2,Strark,windows,Paid,2016-01-21,0,0,missing,missing,0.0,0,0,NaT,NaT,NaT
2,3,Wrouver,windows,Organic,2016-01-11,1/11/16,0,missing,missing,0.0,0,0,2016-01-11,NaT,NaT
3,4,Berton,android web,Referral,2016-01-29,2/3/16,2/3/16,Toyota,Corolla,2016.0,2/3/16,1,2016-02-03,2016-02-03,2016-02-03
4,5,Strark,android web,Referral,2016-01-10,1/25/16,1/26/16,Hyundai,Sonata,2016.0,0,0,2016-01-25,2016-01-26,NaT

In [129]:
#Dropping columns 'bgc_date_mod' and 'vehicle_added_date_mod' and 'first_completed_date_mod'

signup_nonull_ds.drop(['bgc_date_mod','vehicle_added_date_mod','first_completed_date_mod'],inplace=True,axis=1)

In [130]:
#Rearranging the columns in the original sequence
signup_nonull_ds = signup_nonull_ds[['id','city_name','signup_os_mod','signup_channel','signup_date','bgc_date_dtformat','veh_added_date_dtformat','vehicle_make_mod','vehicle_model_mod','vehicle_year_mod','first_completed_date_dtformat','driving']]
signup_nonull_ds.head()

,id,city_name,signup_os_mod,signup_channel,signup_date,bgc_date_dtformat,veh_added_date_dtformat,vehicle_make_mod,vehicle_model_mod,vehicle_year_mod,first_completed_date_dtformat,driving
0,1,Strark,ios web,Paid,2016-01-02,NaT,NaT,missing,missing,0.0,NaT,0
1,2,Strark,windows,Paid,2016-01-21,NaT,NaT,missing,missing,0.0,NaT,0
2,3,Wrouver,windows,Organic,2016-01-11,2016-01-11,NaT,missing,missing,0.0,NaT,0
3,4,Berton,android web,Referral,2016-01-29,2016-02-03,2016-02-03,Toyota,Corolla,2016.0,2016-02-03,1
4,5,Strark,android web,Referral,2016-01-10,2016-01-25,2016-01-26,Hyundai,Sonata,2016.0,NaT,0

In [133]:
#variables signup_date,bgc_date_dtformat,veh_added_date_dtformat,first_completed_date_dtformat have been converted to 
#datetime format 
signup_nonull_ds.dtypes

id                                        int64
city_name                                object
signup_os_mod                            object
signup_channel                           object
signup_date                      datetime64[ns]
bgc_date_dtformat                datetime64[ns]
veh_added_date_dtformat          datetime64[ns]
vehicle_make_mod                         object
vehicle_model_mod                        object
vehicle_year_mod                        float64
first_completed_date_dtformat    datetime64[ns]
driving                                  object
dtype: object

**Create new features - **

**1. signup_bgc_dtdiff - Difference between 'bgc_date_dtformat' and 'signup_date' **

In [ ]:
#Assigning 9999999999 value for missing dates and converting date difference to numeric format

signup_nonull_ds['signup_bgc_dtdiff'] = signup_nonull_ds['bgc_date_dtformat'] - signup_nonull_ds['signup_date']
signup_nonull_ds['signup_bgc_dtdiff'] = signup_nonull_ds['signup_bgc_dtdiff'].astype(dt.timedelta).map(lambda x: 9999999999 if pd.isnull(x) else x.days)
signup_nonull_ds['signup_bgc_dtdiff']

**2. signup_bgc_diff_cat - Feature consisting of Categories based on 'signup_bgc_dtdiff' value**

In [144]:
#Exploring the percentile distribution of 'signup_bgc_dtdiff' feature to determine categories for the date diff values

signup_bdc_diff = signup_nonull_ds['bgc_date_dtformat'] - signup_nonull_ds['signup_date']

signup_bdc_diff = signup_bdc_diff.astype(dt.timedelta).map(lambda x: 9999999999 if pd.isnull(x) else x.days)
signup_bdc_diff

0        9999999999
1        9999999999
2                 0
3                 5
4                15
5                 0
6                 2
7                10
8        9999999999
9        9999999999
10               22
11       9999999999
12                0
13                7
14                5
15                2
16       9999999999
17                4
18                1
19       9999999999
20                9
21       9999999999
22               12
23       9999999999
24               43
25               13
26                1
27               15
28               18
29               16
            ...
54651    9999999999
54652    9999999999
54653    9999999999
54654    9999999999
54655    9999999999
54656    9999999999
54657    9999999999
54658    9999999999
54659    9999999999
54660    9999999999
54661             6
54662    9999999999
54663    9999999999
54664    9999999999
54665             7
54666    9999999999
54667    9999999999
54668    9999999999
54669    9999999999
54670    9999999999
54671    9999999999
54672    9999999999
54673             1
54674            16
54675    9999999999
54676    9999999999
54677    9999999999
54678    9999999999
54679    9999999999
54680    9999999999
dtype: int64

In [155]:
actual_diff = signup_bdc_diff < 9999999999
signup_bdc_diff[actual_diff].describe()

count    32896.000000
mean        10.046541
std         10.519617
min          0.000000
25%          2.000000
50%          6.000000
75%         15.000000
max         69.000000
dtype: float64

**Categories / Buckets based on the percentile values obtained above**

1 : date difference <= 2

2 : 3 >= date difference <= 6

3 : 7 >= date difference <= 15

4 : 16 >= date difference < 9999999999

5 : date difference = 9999999999

In [165]:
#Creation of 'signup_bgc_diff_cat' feature based on categories determined above

signup_nonull_ds['signup_bgc_diff_cat'] = 9999999999

signup_nonull_ds.loc[signup_nonull_ds['signup_bgc_dtdiff'] <= 2,'signup_bgc_diff_cat'] = 1
signup_nonull_ds.loc[(signup_nonull_ds['signup_bgc_dtdiff'] >= 3) & (signup_nonull_ds['signup_bgc_dtdiff'] <= 6),'signup_bgc_diff_cat'] = 2
signup_nonull_ds.loc[(signup_nonull_ds['signup_bgc_dtdiff'] >= 7) & (signup_nonull_ds['signup_bgc_dtdiff'] <= 15), 'signup_bgc_diff_cat'] = 3
signup_nonull_ds.loc[(signup_nonull_ds['signup_bgc_dtdiff'] >= 16) & (signup_nonull_ds['signup_bgc_dtdiff'] < 9999999999),'signup_bgc_diff_cat'] = 4
signup_nonull_ds.loc[signup_nonull_ds['signup_bgc_dtdiff'] == 9999999999,'signup_bgc_diff_cat'] = 5

In [166]:
signup_nonull_ds.head()

,id,city_name,signup_os_mod,signup_channel,signup_date,bgc_date_dtformat,veh_added_date_dtformat,vehicle_make_mod,vehicle_model_mod,vehicle_year_mod,first_completed_date_dtformat,driving,signup_bgc_dtdiff,signup_bgc_diff_cat
0,1,Strark,ios web,Paid,2016-01-02,NaT,NaT,missing,missing,0.0,NaT,0,9999999999,5
1,2,Strark,windows,Paid,2016-01-21,NaT,NaT,missing,missing,0.0,NaT,0,9999999999,5
2,3,Wrouver,windows,Organic,2016-01-11,2016-01-11,NaT,missing,missing,0.0,NaT,0,0,1
3,4,Berton,android web,Referral,2016-01-29,2016-02-03,2016-02-03,Toyota,Corolla,2016.0,2016-02-03,1,5,2
4,5,Strark,android web,Referral,2016-01-10,2016-01-25,2016-01-26,Hyundai,Sonata,2016.0,NaT,0,15,3

**3. signup_veh_added_dtdiff - Difference between 'veh_added_date_dtformat' and 'signup_date'**

In [170]:
#Assigning 9999999999 value for missing dates and converting date difference to numeric format

signup_nonull_ds['signup_veh_added_dtdiff'] = signup_nonull_ds['veh_added_date_dtformat'] - signup_nonull_ds['signup_date']
signup_nonull_ds['signup_veh_added_dtdiff'] = signup_nonull_ds['signup_veh_added_dtdiff'].astype(dt.timedelta).map(lambda x: 9999999999 if pd.isnull(x) else x.days)
signup_nonull_ds['signup_veh_added_dtdiff']

0        9999999999
1        9999999999
2        9999999999
3                 5
4                16
5                 4
6                 7
7        9999999999
8        9999999999
9        9999999999
10               37
11       9999999999
12                0
13       9999999999
14       9999999999
15                2
16       9999999999
17       9999999999
18       9999999999
19       9999999999
20               31
21       9999999999
22       9999999999
23       9999999999
24       9999999999
25       9999999999
26               26
27               22
28               32
29       9999999999
            ...
54651    9999999999
54652    9999999999
54653    9999999999
54654    9999999999
54655    9999999999
54656    9999999999
54657    9999999999
54658    9999999999
54659    9999999999
54660    9999999999
54661    9999999999
54662    9999999999
54663    9999999999
54664    9999999999
54665    9999999999
54666    9999999999
54667    9999999999
54668    9999999999
54669    9999999999
54670    9999999999
54671    9999999999
54672    9999999999
54673    9999999999
54674    9999999999
54675    9999999999
54676    9999999999
54677    9999999999
54678    9999999999
54679    9999999999
54680    9999999999
Name: signup_veh_added_dtdiff, dtype: int64

In [171]:
signup_nonull_ds.head()

,id,city_name,signup_os_mod,signup_channel,signup_date,bgc_date_dtformat,veh_added_date_dtformat,vehicle_make_mod,vehicle_model_mod,vehicle_year_mod,first_completed_date_dtformat,driving,signup_bgc_dtdiff,signup_bgc_diff_cat,signup_veh_added_dtdiff
0,1,Strark,ios web,Paid,2016-01-02,NaT,NaT,missing,missing,0.0,NaT,0,9999999999,5,9999999999
1,2,Strark,windows,Paid,2016-01-21,NaT,NaT,missing,missing,0.0,NaT,0,9999999999,5,9999999999
2,3,Wrouver,windows,Organic,2016-01-11,2016-01-11,NaT,missing,missing,0.0,NaT,0,0,1,9999999999
3,4,Berton,android web,Referral,2016-01-29,2016-02-03,2016-02-03,Toyota,Corolla,2016.0,2016-02-03,1,5,2,5
4,5,Strark,android web,Referral,2016-01-10,2016-01-25,2016-01-26,Hyundai,Sonata,2016.0,NaT,0,15,3,16

**4. signup_veh_added_diff_cat - Feature consisting of Categories based on 'signup_veh_added_dtdiff' value**

In [173]:
#Exploring the percentile distribution of 'signup_veh_added_dtdiff' feature to determine categories for the date diff values

signup_nonull_ds['signup_veh_added_dtdiff'][signup_nonull_ds['signup_veh_added_dtdiff'] < 9999999999].describe()

count    13134.000000
mean        15.203213
std         14.064727
min         -5.000000
25%          4.000000
50%         11.000000
75%         24.000000
max         72.000000
Name: signup_veh_added_dtdiff, dtype: float64

**Anomaly - Signup date is later than that of Vehicle added date?**

In [174]:
#Anomaly - Signup date is later than that of Vehicle added date?

signup_nonull_ds[signup_nonull_ds['signup_veh_added_dtdiff'] < 0]

,id,city_name,signup_os_mod,signup_channel,signup_date,bgc_date_dtformat,veh_added_date_dtformat,vehicle_make_mod,vehicle_model_mod,vehicle_year_mod,first_completed_date_dtformat,driving,signup_bgc_dtdiff,signup_bgc_diff_cat,signup_veh_added_dtdiff
9268,9269,Berton,ios web,Organic,2016-01-21,2016-01-24,2016-01-16,GMC,Acadia,2009.0,2016-02-03,1,3,2,-5

**Categories / Buckets based on the percentile values obtained above**

1 : date difference <= 4

2 : 5 >= date difference <=11

3 : 12 >= date difference <= 24

4 : 25 >= date difference < 9999999999

5 : date difference = 9999999999

In [176]:
#Creation of 'signup_veh_added_diff_cat' feature based on categories determined above

signup_nonull_ds['signup_veh_added_diff_cat'] = 9999999999

signup_nonull_ds.loc[signup_nonull_ds['signup_veh_added_dtdiff'] <= 4,'signup_veh_added_diff_cat'] = 1
signup_nonull_ds.loc[(signup_nonull_ds['signup_veh_added_dtdiff'] >= 5) & (signup_nonull_ds['signup_veh_added_dtdiff'] <= 11),'signup_veh_added_diff_cat'] = 2
signup_nonull_ds.loc[(signup_nonull_ds['signup_veh_added_dtdiff'] >= 12) & (signup_nonull_ds['signup_veh_added_dtdiff'] <= 24), 'signup_veh_added_diff_cat'] = 3
signup_nonull_ds.loc[(signup_nonull_ds['signup_veh_added_dtdiff'] >= 25) & (signup_nonull_ds['signup_veh_added_dtdiff'] < 9999999999),'signup_veh_added_diff_cat'] = 4
signup_nonull_ds.loc[signup_nonull_ds['signup_veh_added_dtdiff'] == 9999999999,'signup_veh_added_diff_cat'] = 5

In [177]:
signup_nonull_ds.head()

,id,city_name,signup_os_mod,signup_channel,signup_date,bgc_date_dtformat,veh_added_date_dtformat,vehicle_make_mod,vehicle_model_mod,vehicle_year_mod,first_completed_date_dtformat,driving,signup_bgc_dtdiff,signup_bgc_diff_cat,signup_veh_added_dtdiff,signup_veh_added_diff_cat
0,1,Strark,ios web,Paid,2016-01-02,NaT,NaT,missing,missing,0.0,NaT,0,9999999999,5,9999999999,5
1,2,Strark,windows,Paid,2016-01-21,NaT,NaT,missing,missing,0.0,NaT,0,9999999999,5,9999999999,5
2,3,Wrouver,windows,Organic,2016-01-11,2016-01-11,NaT,missing,missing,0.0,NaT,0,0,1,9999999999,5
3,4,Berton,android web,Referral,2016-01-29,2016-02-03,2016-02-03,Toyota,Corolla,2016.0,2016-02-03,1,5,2,5,2
4,5,Strark,android web,Referral,2016-01-10,2016-01-25,2016-01-26,Hyundai,Sonata,2016.0,NaT,0,15,3,16,3

**5. bgc_veh_added_dtdiff - Difference between 'veh_added_date_dtformat' and 'bgc_date_dtformat'**

In [178]:
#Assigning 9999999999 value for missing dates and converting date difference to numeric format

signup_nonull_ds['bgc_veh_added_dtdiff'] = signup_nonull_ds['veh_added_date_dtformat'] - signup_nonull_ds['bgc_date_dtformat']
signup_nonull_ds['bgc_veh_added_dtdiff'] = signup_nonull_ds['bgc_veh_added_dtdiff'].astype(dt.timedelta).map(lambda x: 9999999999 if pd.isnull(x) else x.days)
signup_nonull_ds['bgc_veh_added_dtdiff']

0        9999999999
1        9999999999
2        9999999999
3                 0
4                 1
5                 4
6                 5
7        9999999999
8        9999999999
9        9999999999
10               15
11       9999999999
12                0
13       9999999999
14       9999999999
15                0
16       9999999999
17       9999999999
18       9999999999
19       9999999999
20               22
21       9999999999
22       9999999999
23       9999999999
24       9999999999
25       9999999999
26               25
27                7
28               14
29       9999999999
            ...
54651    9999999999
54652    9999999999
54653    9999999999
54654    9999999999
54655    9999999999
54656    9999999999
54657    9999999999
54658    9999999999
54659    9999999999
54660    9999999999
54661    9999999999
54662    9999999999
54663    9999999999
54664    9999999999
54665    9999999999
54666    9999999999
54667    9999999999
54668    9999999999
54669    9999999999
54670    9999999999
54671    9999999999
54672    9999999999
54673    9999999999
54674    9999999999
54675    9999999999
54676    9999999999
54677    9999999999
54678    9999999999
54679    9999999999
54680    9999999999
Name: bgc_veh_added_dtdiff, dtype: int64

In [179]:
signup_nonull_ds.head()

,id,city_name,signup_os_mod,signup_channel,signup_date,bgc_date_dtformat,veh_added_date_dtformat,vehicle_make_mod,vehicle_model_mod,vehicle_year_mod,first_completed_date_dtformat,driving,signup_bgc_dtdiff,signup_bgc_diff_cat,signup_veh_added_dtdiff,signup_veh_added_diff_cat,bgc_veh_added_dtdiff
0,1,Strark,ios web,Paid,2016-01-02,NaT,NaT,missing,missing,0.0,NaT,0,9999999999,5,9999999999,5,9999999999
1,2,Strark,windows,Paid,2016-01-21,NaT,NaT,missing,missing,0.0,NaT,0,9999999999,5,9999999999,5,9999999999
2,3,Wrouver,windows,Organic,2016-01-11,2016-01-11,NaT,missing,missing,0.0,NaT,0,0,1,9999999999,5,9999999999
3,4,Berton,android web,Referral,2016-01-29,2016-02-03,2016-02-03,Toyota,Corolla,2016.0,2016-02-03,1,5,2,5,2,0
4,5,Strark,android web,Referral,2016-01-10,2016-01-25,2016-01-26,Hyundai,Sonata,2016.0,NaT,0,15,3,16,3,1

**6. bgc_veh_added_diff_cat - Feature consisting of Categories based on 'bgc_veh_added_dtdiff' value**

In [180]:
#Exploring the percentile distribution of 'bgc_veh_added_dtdiff' feature to determine categories for the date diff values

signup_nonull_ds['bgc_veh_added_dtdiff'][signup_nonull_ds['bgc_veh_added_dtdiff'] < 9999999999].describe()

count    12879.000000
mean         7.135104
std          9.336544
min        -30.000000
25%          1.000000
50%          4.000000
75%         10.000000
max         55.000000
Name: bgc_veh_added_dtdiff, dtype: float64

**Anomaly - Background check consent date is later than that of Vehicle added date?**

In [ ]:
#Anomaly - Background check consent date is later than that of Vehicle added date?

signup_nonull_ds[signup_nonull_ds['bgc_veh_added_dtdiff'] < 0]

**Categories / Buckets based on the percentile values obtained above**

1 : date difference <= 1

2 : 2 >= date difference <=4

3 : 5 >= date difference <= 10

4 : 11 >= date difference < 9999999999

5 : date difference = 9999999999

In [182]:
#Creation of 'bgc_veh_added_diff_cat' feature based on categories determined above

signup_nonull_ds['bgc_veh_added_diff_cat'] = 9999999999

signup_nonull_ds.loc[signup_nonull_ds['bgc_veh_added_dtdiff'] <= 1,'bgc_veh_added_diff_cat'] = 1
signup_nonull_ds.loc[(signup_nonull_ds['bgc_veh_added_dtdiff'] >= 2) & (signup_nonull_ds['bgc_veh_added_dtdiff'] <= 4),'bgc_veh_added_diff_cat'] = 2
signup_nonull_ds.loc[(signup_nonull_ds['bgc_veh_added_dtdiff'] >= 5) & (signup_nonull_ds['bgc_veh_added_dtdiff'] <= 10), 'bgc_veh_added_diff_cat'] = 3
signup_nonull_ds.loc[(signup_nonull_ds['bgc_veh_added_dtdiff'] >= 11) & (signup_nonull_ds['bgc_veh_added_dtdiff'] < 9999999999),'bgc_veh_added_diff_cat'] = 4
signup_nonull_ds.loc[signup_nonull_ds['bgc_veh_added_dtdiff'] == 9999999999,'bgc_veh_added_diff_cat'] = 5

In [183]:
signup_nonull_ds.head()

,id,city_name,signup_os_mod,signup_channel,signup_date,bgc_date_dtformat,veh_added_date_dtformat,vehicle_make_mod,vehicle_model_mod,vehicle_year_mod,first_completed_date_dtformat,driving,signup_bgc_dtdiff,signup_bgc_diff_cat,signup_veh_added_dtdiff,signup_veh_added_diff_cat,bgc_veh_added_dtdiff,bgc_veh_added_diff_cat
0,1,Strark,ios web,Paid,2016-01-02,NaT,NaT,missing,missing,0.0,NaT,0,9999999999,5,9999999999,5,9999999999,5
1,2,Strark,windows,Paid,2016-01-21,NaT,NaT,missing,missing,0.0,NaT,0,9999999999,5,9999999999,5,9999999999,5
2,3,Wrouver,windows,Organic,2016-01-11,2016-01-11,NaT,missing,missing,0.0,NaT,0,0,1,9999999999,5,9999999999,5
3,4,Berton,android web,Referral,2016-01-29,2016-02-03,2016-02-03,Toyota,Corolla,2016.0,2016-02-03,1,5,2,5,2,0,1
4,5,Strark,android web,Referral,2016-01-10,2016-01-25,2016-01-26,Hyundai,Sonata,2016.0,NaT,0,15,3,16,3,1,1

In [184]:
signup_nonull_ds.dtypes

id                                        int64
city_name                                object
signup_os_mod                            object
signup_channel                           object
signup_date                      datetime64[ns]
bgc_date_dtformat                datetime64[ns]
veh_added_date_dtformat          datetime64[ns]
vehicle_make_mod                         object
vehicle_model_mod                        object
vehicle_year_mod                        float64
first_completed_date_dtformat    datetime64[ns]
driving                                  object
signup_bgc_dtdiff                         int64
signup_bgc_diff_cat                       int64
signup_veh_added_dtdiff                   int64
signup_veh_added_diff_cat                 int64
bgc_veh_added_dtdiff                      int64
bgc_veh_added_diff_cat                    int64
dtype: object

In [200]:
#Convert vehicle_year feature to integer format with 9999999999 value for missing years.

signup_nonull_ds['vehicle_year'] = signup_ds_mod['vehicle_year'].astype(dt.timedelta).map(lambda x: int(9999999999) if pd.isnull(x) else int(x))

**Data Cleanup - Assign value 9999999999 to vehicle_year feature where the value was 0(for four records)**

In [233]:
#Data Cleanup - Assigned value 9999999999 to vehicle_year feature where the value was 0(for four records)

signup_nonull_ds['vehicle_year'] = signup_nonull_ds['vehicle_year'].astype(dt.timedelta).map(lambda x: int(9999999999) if x == 0 else int(x))

In [234]:
signup_nonull_ds.head()

,id,city_name,signup_os_mod,signup_channel,signup_date,bgc_date_dtformat,veh_added_date_dtformat,vehicle_make_mod,vehicle_model_mod,vehicle_year_mod,first_completed_date_dtformat,driving,signup_bgc_dtdiff,signup_bgc_diff_cat,signup_veh_added_dtdiff,signup_veh_added_diff_cat,bgc_veh_added_dtdiff,bgc_veh_added_diff_cat,vehicle_year,vehicle_year_cat
0,1,Strark,ios web,Paid,2016-01-02,NaT,NaT,missing,missing,0.0,NaT,0,9999999999,5,9999999999,5,9999999999,5,9999999999,5
1,2,Strark,windows,Paid,2016-01-21,NaT,NaT,missing,missing,0.0,NaT,0,9999999999,5,9999999999,5,9999999999,5,9999999999,5
2,3,Wrouver,windows,Organic,2016-01-11,2016-01-11,NaT,missing,missing,0.0,NaT,0,0,1,9999999999,5,9999999999,5,9999999999,5
3,4,Berton,android web,Referral,2016-01-29,2016-02-03,2016-02-03,Toyota,Corolla,2016.0,2016-02-03,1,5,2,5,2,0,1,2016,4
4,5,Strark,android web,Referral,2016-01-10,2016-01-25,2016-01-26,Hyundai,Sonata,2016.0,NaT,0,15,3,16,3,1,1,2016,4

**7. vehicle_year_cat - Feature consisting of Categories based on 'vehicle_year' value**

In [236]:
signup_nonull_ds['vehicle_year'][signup_nonull_ds['vehicle_year'] < 9999999999].describe()

count    13219.000000
mean      2011.176413
std          4.135149
min       1995.000000
25%       2008.000000
50%       2013.000000
75%       2015.000000
max       2017.000000
Name: vehicle_year, dtype: float64

**Categories / Buckets based on the percentile values obtained above**

1 : year <= 2008

2 : 2009 >= year <= 2013

3 : 2014 >= year <= 2015

4 : 2016 >= year < 9999999999

5 : year = 9999999999

In [237]:
#Creation of 'vehicle_year_cat' feature based on categories determined above

signup_nonull_ds['vehicle_year_cat'] = 9999999999

signup_nonull_ds.loc[signup_nonull_ds['vehicle_year'] <= 2008,'vehicle_year_cat'] = 1
signup_nonull_ds.loc[(signup_nonull_ds['vehicle_year'] >= 2009) & (signup_nonull_ds['vehicle_year'] <= 2013),'vehicle_year_cat'] = 2
signup_nonull_ds.loc[(signup_nonull_ds['vehicle_year'] >= 2014) & (signup_nonull_ds['vehicle_year'] <= 2015), 'vehicle_year_cat'] = 3
signup_nonull_ds.loc[(signup_nonull_ds['vehicle_year'] >= 2016) & (signup_nonull_ds['vehicle_year'] < 9999999999),'vehicle_year_cat'] = 4
signup_nonull_ds.loc[signup_nonull_ds['vehicle_year'] == 9999999999,'vehicle_year_cat'] = 5

In [238]:
signup_nonull_ds.head()

,id,city_name,signup_os_mod,signup_channel,signup_date,bgc_date_dtformat,veh_added_date_dtformat,vehicle_make_mod,vehicle_model_mod,vehicle_year_mod,first_completed_date_dtformat,driving,signup_bgc_dtdiff,signup_bgc_diff_cat,signup_veh_added_dtdiff,signup_veh_added_diff_cat,bgc_veh_added_dtdiff,bgc_veh_added_diff_cat,vehicle_year,vehicle_year_cat
0,1,Strark,ios web,Paid,2016-01-02,NaT,NaT,missing,missing,0.0,NaT,0,9999999999,5,9999999999,5,9999999999,5,9999999999,5
1,2,Strark,windows,Paid,2016-01-21,NaT,NaT,missing,missing,0.0,NaT,0,9999999999,5,9999999999,5,9999999999,5,9999999999,5
2,3,Wrouver,windows,Organic,2016-01-11,2016-01-11,NaT,missing,missing,0.0,NaT,0,0,1,9999999999,5,9999999999,5,9999999999,5
3,4,Berton,android web,Referral,2016-01-29,2016-02-03,2016-02-03,Toyota,Corolla,2016.0,2016-02-03,1,5,2,5,2,0,1,2016,4
4,5,Strark,android web,Referral,2016-01-10,2016-01-25,2016-01-26,Hyundai,Sonata,2016.0,NaT,0,15,3,16,3,1,1,2016,4

**Creating Dummy features for categorical features such as 'city_name','signup_os_mod','signup_channel'**

In [240]:
#Create dummy features for 'city_name' feature

dummy_cities = pd.get_dummies(signup_nonull_ds['city_name'], prefix='city')
dummy_cities.head()

   city_Berton  city_Strark  city_Wrouver
0            0            1             0
1            0            1             0
2            0            0             1
3            1            0             0
4            0            1             0

In [241]:
#Joining dummy_cities to signup_nonull_ds

signup_nonull_ds = pd.concat([signup_nonull_ds, dummy_cities], axis =1)
signup_nonull_ds.head()

,id,city_name,signup_os_mod,signup_channel,signup_date,bgc_date_dtformat,veh_added_date_dtformat,vehicle_make_mod,vehicle_model_mod,vehicle_year_mod,...,signup_bgc_diff_cat,signup_veh_added_dtdiff,signup_veh_added_diff_cat,bgc_veh_added_dtdiff,bgc_veh_added_diff_cat,vehicle_year,vehicle_year_cat,city_Berton,city_Strark,city_Wrouver
0,1,Strark,ios web,Paid,2016-01-02,NaT,NaT,missing,missing,0.0,...,5,9999999999,5,9999999999,5,9999999999,5,0,1,0
1,2,Strark,windows,Paid,2016-01-21,NaT,NaT,missing,missing,0.0,...,5,9999999999,5,9999999999,5,9999999999,5,0,1,0
2,3,Wrouver,windows,Organic,2016-01-11,2016-01-11,NaT,missing,missing,0.0,...,1,9999999999,5,9999999999,5,9999999999,5,0,0,1
3,4,Berton,android web,Referral,2016-01-29,2016-02-03,2016-02-03,Toyota,Corolla,2016.0,...,2,5,2,0,1,2016,4,1,0,0
4,5,Strark,android web,Referral,2016-01-10,2016-01-25,2016-01-26,Hyundai,Sonata,2016.0,...,3,16,3,1,1,2016,4,0,1,0

In [242]:
#Create dummy features for 'signup_os_mod' feature

dummy_signup_os = pd.get_dummies(signup_nonull_ds['signup_os_mod'], prefix='signup_os')
dummy_signup_os.head()

,signup_os_android web,signup_os_ios web,signup_os_mac,signup_os_other,signup_os_windows
0,0,1,0,0,0
1,0,0,0,0,1
2,0,0,0,0,1
3,1,0,0,0,0
4,1,0,0,0,0

In [243]:
#Joining dummy_signup_os to signup_nonull_ds

signup_nonull_ds = pd.concat([signup_nonull_ds, dummy_signup_os], axis =1)
signup_nonull_ds.head()

,id,city_name,signup_os_mod,signup_channel,signup_date,bgc_date_dtformat,veh_added_date_dtformat,vehicle_make_mod,vehicle_model_mod,vehicle_year_mod,...,vehicle_year,vehicle_year_cat,city_Berton,city_Strark,city_Wrouver,signup_os_android web,signup_os_ios web,signup_os_mac,signup_os_other,signup_os_windows
0,1,Strark,ios web,Paid,2016-01-02,NaT,NaT,missing,missing,0.0,...,9999999999,5,0,1,0,0,1,0,0,0
1,2,Strark,windows,Paid,2016-01-21,NaT,NaT,missing,missing,0.0,...,9999999999,5,0,1,0,0,0,0,0,1
2,3,Wrouver,windows,Organic,2016-01-11,2016-01-11,NaT,missing,missing,0.0,...,9999999999,5,0,0,1,0,0,0,0,1
3,4,Berton,android web,Referral,2016-01-29,2016-02-03,2016-02-03,Toyota,Corolla,2016.0,...,2016,4,1,0,0,1,0,0,0,0
4,5,Strark,android web,Referral,2016-01-10,2016-01-25,2016-01-26,Hyundai,Sonata,2016.0,...,2016,4,0,1,0,1,0,0,0,0

In [244]:
#Create dummy features for 'signup_channel' feature

dummy_signup_channel = pd.get_dummies(signup_nonull_ds['signup_channel'], prefix='signup_channel')
dummy_signup_channel.head()

   signup_channel_Organic  signup_channel_Paid  signup_channel_Referral
0                       0                    1                        0
1                       0                    1                        0
2                       1                    0                        0
3                       0                    0                        1
4                       0                    0                        1

In [245]:
#Joining dummy_signup_channel to signup_nonull_ds

signup_nonull_ds = pd.concat([signup_nonull_ds, dummy_signup_channel], axis =1)
signup_nonull_ds.head()

,id,city_name,signup_os_mod,signup_channel,signup_date,bgc_date_dtformat,veh_added_date_dtformat,vehicle_make_mod,vehicle_model_mod,vehicle_year_mod,...,city_Strark,city_Wrouver,signup_os_android web,signup_os_ios web,signup_os_mac,signup_os_other,signup_os_windows,signup_channel_Organic,signup_channel_Paid,signup_channel_Referral
0,1,Strark,ios web,Paid,2016-01-02,NaT,NaT,missing,missing,0.0,...,1,0,0,1,0,0,0,0,1,0
1,2,Strark,windows,Paid,2016-01-21,NaT,NaT,missing,missing,0.0,...,1,0,0,0,0,0,1,0,1,0
2,3,Wrouver,windows,Organic,2016-01-11,2016-01-11,NaT,missing,missing,0.0,...,0,1,0,0,0,0,1,1,0,0
3,4,Berton,android web,Referral,2016-01-29,2016-02-03,2016-02-03,Toyota,Corolla,2016.0,...,0,0,1,0,0,0,0,0,0,1
4,5,Strark,android web,Referral,2016-01-10,2016-01-25,2016-01-26,Hyundai,Sonata,2016.0,...,1,0,1,0,0,0,0,0,0,1

**Creating a feature for each of the date features. Assign 0 for missing date and 1 if date exists**

In [247]:
#Creating 'signup_date_exists' feature

signup_nonull_ds['signup_date_exists'] = signup_nonull_ds['signup_date'].map(lambda x: int(0) if pd.isnull(x) else int(1))

In [249]:
#Creating 'bgc_date_exists' feature

signup_nonull_ds['bgc_date_exists'] = signup_nonull_ds['bgc_date_dtformat'].map(lambda x: int(0) if pd.isnull(x) else int(1))

#Creating 'veh_added_date_exists' feature

signup_nonull_ds['veh_added_date_exists'] = signup_nonull_ds['veh_added_date_dtformat'].map(lambda x: int(0) if pd.isnull(x) else int(1))

#Creating 'first_completed_date_exists' feature

signup_nonull_ds['first_completed_date_exists'] = signup_nonull_ds['first_completed_date_dtformat'].map(lambda x: int(0) if pd.isnull(x) else int(1))

In [250]:
signup_nonull_ds.head()

,id,city_name,signup_os_mod,signup_channel,signup_date,bgc_date_dtformat,veh_added_date_dtformat,vehicle_make_mod,vehicle_model_mod,vehicle_year_mod,...,signup_os_mac,signup_os_other,signup_os_windows,signup_channel_Organic,signup_channel_Paid,signup_channel_Referral,signup_date_exists,bgc_date_exists,veh_added_date_exists,first_completed_date_exists
0,1,Strark,ios web,Paid,2016-01-02,NaT,NaT,missing,missing,0.0,...,0,0,0,0,1,0,1,0,0,0
1,2,Strark,windows,Paid,2016-01-21,NaT,NaT,missing,missing,0.0,...,0,0,1,0,1,0,1,0,0,0
2,3,Wrouver,windows,Organic,2016-01-11,2016-01-11,NaT,missing,missing,0.0,...,0,0,1,1,0,0,1,1,0,0
3,4,Berton,android web,Referral,2016-01-29,2016-02-03,2016-02-03,Toyota,Corolla,2016.0,...,0,0,0,0,0,1,1,1,1,1
4,5,Strark,android web,Referral,2016-01-10,2016-01-25,2016-01-26,Hyundai,Sonata,2016.0,...,0,0,0,0,0,1,1,1,1,0

In [253]:
signup_nonull_ds.columns

Index(['id', 'city_name', 'signup_os_mod', 'signup_channel', 'signup_date',
       'bgc_date_dtformat', 'veh_added_date_dtformat', 'vehicle_make_mod',
       'vehicle_model_mod', 'vehicle_year_mod',
       'first_completed_date_dtformat', 'driving', 'signup_bgc_dtdiff',
       'signup_bgc_diff_cat', 'signup_veh_added_dtdiff',
       'signup_veh_added_diff_cat', 'bgc_veh_added_dtdiff',
       'bgc_veh_added_diff_cat', 'vehicle_year', 'vehicle_year_cat',
       'city_Berton', 'city_Strark', 'city_Wrouver', 'signup_os_android web',
       'signup_os_ios web', 'signup_os_mac', 'signup_os_other',
       'signup_os_windows', 'signup_channel_Organic', 'signup_channel_Paid',
       'signup_channel_Referral', 'signup_date_exists', 'bgc_date_exists',
       'veh_added_date_exists', 'first_completed_date_exists'],
      dtype='object')

In [254]:
cols_to_keep = ['id','city_Berton','city_Strark','city_Wrouver', 'signup_os_android web',
       'signup_os_ios web', 'signup_os_mac', 'signup_os_other',
       'signup_os_windows', 'signup_channel_Organic', 'signup_channel_Paid',
       'signup_channel_Referral', 'signup_date_exists', 'bgc_date_exists',
       'veh_added_date_exists', 'first_completed_date_exists', 'vehicle_make_mod',
       'vehicle_model_mod', 'vehicle_year', 'vehicle_year_cat', 'signup_bgc_dtdiff',
       'signup_bgc_diff_cat', 'signup_veh_added_dtdiff',
       'signup_veh_added_diff_cat', 'bgc_veh_added_dtdiff',
       'bgc_veh_added_diff_cat',  'driving']

signup_nonull_ds[cols_to_keep].head()

,id,city_Berton,city_Strark,city_Wrouver,signup_os_android web,signup_os_ios web,signup_os_mac,signup_os_other,signup_os_windows,signup_channel_Organic,...,vehicle_model_mod,vehicle_year,vehicle_year_cat,signup_bgc_dtdiff,signup_bgc_diff_cat,signup_veh_added_dtdiff,signup_veh_added_diff_cat,bgc_veh_added_dtdiff,bgc_veh_added_diff_cat,driving
0,1,0,1,0,0,1,0,0,0,0,...,missing,9999999999,5,9999999999,5,9999999999,5,9999999999,5,0
1,2,0,1,0,0,0,0,0,1,0,...,missing,9999999999,5,9999999999,5,9999999999,5,9999999999,5,0
2,3,0,0,1,0,0,0,0,1,1,...,missing,9999999999,5,0,1,9999999999,5,9999999999,5,0
3,4,1,0,0,1,0,0,0,0,0,...,Corolla,2016,4,5,2,5,2,0,1,1
4,5,0,1,0,1,0,0,0,0,0,...,Sonata,2016,4,15,3,16,3,1,1,0

In [255]:
signup_eng_feats_ds = signup_nonull_ds[cols_to_keep]

In [258]:
signup_eng_feats_ds.head()

,id,city_Berton,city_Strark,city_Wrouver,signup_os_android web,signup_os_ios web,signup_os_mac,signup_os_other,signup_os_windows,signup_channel_Organic,signup_channel_Paid,signup_channel_Referral,signup_date_exists,bgc_date_exists,veh_added_date_exists,first_completed_date_exists,vehicle_make_mod,vehicle_model_mod,vehicle_year,vehicle_year_cat,signup_bgc_dtdiff,signup_bgc_diff_cat,signup_veh_added_dtdiff,signup_veh_added_diff_cat,bgc_veh_added_dtdiff,bgc_veh_added_diff_cat,driving
0,1,0,1,0,0,1,0,0,0,0,1,0,1,0,0,0,missing,missing,9999999999,5,9999999999,5,9999999999,5,9999999999,5,0
1,2,0,1,0,0,0,0,0,1,0,1,0,1,0,0,0,missing,missing,9999999999,5,9999999999,5,9999999999,5,9999999999,5,0
2,3,0,0,1,0,0,0,0,1,1,0,0,1,1,0,0,missing,missing,9999999999,5,0,1,9999999999,5,9999999999,5,0
3,4,1,0,0,1,0,0,0,0,0,0,1,1,1,1,1,Toyota,Corolla,2016,4,5,2,5,2,0,1,1
4,5,0,1,0,1,0,0,0,0,0,0,1,1,1,1,0,Hyundai,Sonata,2016,4,15,3,16,3,1,1,0

**Create dummy features for 'vehicle_year_cat','signup_bgc_diff_cat','signup_veh_added_diff_cat','bgc_veh_added_diff_cat'**

In [260]:
#Create dummy features for 'vehicle_year_cat'

dummy_vehicle_year_cat = pd.get_dummies(signup_eng_feats_ds['vehicle_year_cat'], prefix='vehicle_year_cat')

#Joining dummy_vehicle_year_cat to signup_eng_feats_ds

signup_eng_feats_ds = pd.concat([signup_eng_feats_ds, dummy_vehicle_year_cat], axis =1)
signup_eng_feats_ds.head()

,id,city_Berton,city_Strark,city_Wrouver,signup_os_android web,signup_os_ios web,signup_os_mac,signup_os_other,signup_os_windows,signup_channel_Organic,signup_channel_Paid,signup_channel_Referral,signup_date_exists,bgc_date_exists,veh_added_date_exists,first_completed_date_exists,vehicle_make_mod,vehicle_model_mod,vehicle_year,vehicle_year_cat,signup_bgc_dtdiff,signup_bgc_diff_cat,signup_veh_added_dtdiff,signup_veh_added_diff_cat,bgc_veh_added_dtdiff,bgc_veh_added_diff_cat,driving,vehicle_year_cat_1,vehicle_year_cat_2,vehicle_year_cat_3,vehicle_year_cat_4,vehicle_year_cat_5
0,1,0,1,0,0,1,0,0,0,0,1,0,1,0,0,0,missing,missing,9999999999,5,9999999999,5,9999999999,5,9999999999,5,0,0,0,0,0,1
1,2,0,1,0,0,0,0,0,1,0,1,0,1,0,0,0,missing,missing,9999999999,5,9999999999,5,9999999999,5,9999999999,5,0,0,0,0,0,1
2,3,0,0,1,0,0,0,0,1,1,0,0,1,1,0,0,missing,missing,9999999999,5,0,1,9999999999,5,9999999999,5,0,0,0,0,0,1
3,4,1,0,0,1,0,0,0,0,0,0,1,1,1,1,1,Toyota,Corolla,2016,4,5,2,5,2,0,1,1,0,0,0,1,0
4,5,0,1,0,1,0,0,0,0,0,0,1,1,1,1,0,Hyundai,Sonata,2016,4,15,3,16,3,1,1,0,0,0,0,1,0

In [261]:
#Create dummy features for 'signup_bgc_diff_cat'

dummy_signup_bgc_diff_cat = pd.get_dummies(signup_eng_feats_ds['signup_bgc_diff_cat'], prefix='signup_bgc_diff_cat')

#Joining dummy_signup_bgc_diff_cat to signup_eng_feats_ds

signup_eng_feats_ds = pd.concat([signup_eng_feats_ds, dummy_signup_bgc_diff_cat], axis =1)
signup_eng_feats_ds.head()

,id,city_Berton,city_Strark,city_Wrouver,signup_os_android web,signup_os_ios web,signup_os_mac,signup_os_other,signup_os_windows,signup_channel_Organic,signup_channel_Paid,signup_channel_Referral,signup_date_exists,bgc_date_exists,veh_added_date_exists,first_completed_date_exists,vehicle_make_mod,vehicle_model_mod,vehicle_year,vehicle_year_cat,signup_bgc_dtdiff,signup_bgc_diff_cat,signup_veh_added_dtdiff,signup_veh_added_diff_cat,bgc_veh_added_dtdiff,bgc_veh_added_diff_cat,driving,vehicle_year_cat_1,vehicle_year_cat_2,vehicle_year_cat_3,vehicle_year_cat_4,vehicle_year_cat_5,signup_bgc_diff_cat_1,signup_bgc_diff_cat_2,signup_bgc_diff_cat_3,signup_bgc_diff_cat_4,signup_bgc_diff_cat_5
0,1,0,1,0,0,1,0,0,0,0,1,0,1,0,0,0,missing,missing,9999999999,5,9999999999,5,9999999999,5,9999999999,5,0,0,0,0,0,1,0,0,0,0,1
1,2,0,1,0,0,0,0,0,1,0,1,0,1,0,0,0,missing,missing,9999999999,5,9999999999,5,9999999999,5,9999999999,5,0,0,0,0,0,1,0,0,0,0,1
2,3,0,0,1,0,0,0,0,1,1,0,0,1,1,0,0,missing,missing,9999999999,5,0,1,9999999999,5,9999999999,5,0,0,0,0,0,1,1,0,0,0,0
3,4,1,0,0,1,0,0,0,0,0,0,1,1,1,1,1,Toyota,Corolla,2016,4,5,2,5,2,0,1,1,0,0,0,1,0,0,1,0,0,0
4,5,0,1,0,1,0,0,0,0,0,0,1,1,1,1,0,Hyundai,Sonata,2016,4,15,3,16,3,1,1,0,0,0,0,1,0,0,0,1,0,0

In [262]:
#Create dummy features for 'signup_veh_added_diff_cat'

dummy_signup_veh_added_diff_cat = pd.get_dummies(signup_eng_feats_ds['signup_veh_added_diff_cat'], prefix='signup_veh_added_diff_cat')

#Joining dummy_signup_veh_added_diff_cat to signup_eng_feats_ds

signup_eng_feats_ds = pd.concat([signup_eng_feats_ds, dummy_signup_veh_added_diff_cat], axis =1)
signup_eng_feats_ds.head()

,id,city_Berton,city_Strark,city_Wrouver,signup_os_android web,signup_os_ios web,signup_os_mac,signup_os_other,signup_os_windows,signup_channel_Organic,signup_channel_Paid,signup_channel_Referral,signup_date_exists,bgc_date_exists,veh_added_date_exists,first_completed_date_exists,vehicle_make_mod,vehicle_model_mod,vehicle_year,vehicle_year_cat,signup_bgc_dtdiff,signup_bgc_diff_cat,signup_veh_added_dtdiff,signup_veh_added_diff_cat,bgc_veh_added_dtdiff,bgc_veh_added_diff_cat,driving,vehicle_year_cat_1,vehicle_year_cat_2,vehicle_year_cat_3,vehicle_year_cat_4,vehicle_year_cat_5,signup_bgc_diff_cat_1,signup_bgc_diff_cat_2,signup_bgc_diff_cat_3,signup_bgc_diff_cat_4,signup_bgc_diff_cat_5,signup_veh_added_diff_cat_1,signup_veh_added_diff_cat_2,signup_veh_added_diff_cat_3,signup_veh_added_diff_cat_4,signup_veh_added_diff_cat_5
0,1,0,1,0,0,1,0,0,0,0,1,0,1,0,0,0,missing,missing,9999999999,5,9999999999,5,9999999999,5,9999999999,5,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1
1,2,0,1,0,0,0,0,0,1,0,1,0,1,0,0,0,missing,missing,9999999999,5,9999999999,5,9999999999,5,9999999999,5,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1
2,3,0,0,1,0,0,0,0,1,1,0,0,1,1,0,0,missing,missing,9999999999,5,0,1,9999999999,5,9999999999,5,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1
3,4,1,0,0,1,0,0,0,0,0,0,1,1,1,1,1,Toyota,Corolla,2016,4,5,2,5,2,0,1,1,0,0,0,1,0,0,1,0,0,0,0,1,0,0,0
4,5,0,1,0,1,0,0,0,0,0,0,1,1,1,1,0,Hyundai,Sonata,2016,4,15,3,16,3,1,1,0,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0

In [263]:
#Create dummy features for 'bgc_veh_added_diff_cat'

dummy_bgc_veh_added_diff_cat = pd.get_dummies(signup_eng_feats_ds['bgc_veh_added_diff_cat'], prefix='bgc_veh_added_diff_cat')

#Joining dummy_bgc_veh_added_diff_cat to signup_eng_feats_ds

signup_eng_feats_ds = pd.concat([signup_eng_feats_ds, dummy_bgc_veh_added_diff_cat], axis =1)
signup_eng_feats_ds.head()

,id,city_Berton,city_Strark,city_Wrouver,signup_os_android web,signup_os_ios web,signup_os_mac,signup_os_other,signup_os_windows,signup_channel_Organic,signup_channel_Paid,signup_channel_Referral,signup_date_exists,bgc_date_exists,veh_added_date_exists,first_completed_date_exists,vehicle_make_mod,vehicle_model_mod,vehicle_year,vehicle_year_cat,signup_bgc_dtdiff,signup_bgc_diff_cat,signup_veh_added_dtdiff,signup_veh_added_diff_cat,bgc_veh_added_dtdiff,bgc_veh_added_diff_cat,driving,vehicle_year_cat_1,vehicle_year_cat_2,vehicle_year_cat_3,vehicle_year_cat_4,vehicle_year_cat_5,signup_bgc_diff_cat_1,signup_bgc_diff_cat_2,signup_bgc_diff_cat_3,signup_bgc_diff_cat_4,signup_bgc_diff_cat_5,signup_veh_added_diff_cat_1,signup_veh_added_diff_cat_2,signup_veh_added_diff_cat_3,signup_veh_added_diff_cat_4,signup_veh_added_diff_cat_5,bgc_veh_added_diff_cat_1,bgc_veh_added_diff_cat_2,bgc_veh_added_diff_cat_3,bgc_veh_added_diff_cat_4,bgc_veh_added_diff_cat_5
0,1,0,1,0,0,1,0,0,0,0,1,0,1,0,0,0,missing,missing,9999999999,5,9999999999,5,9999999999,5,9999999999,5,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1
1,2,0,1,0,0,0,0,0,1,0,1,0,1,0,0,0,missing,missing,9999999999,5,9999999999,5,9999999999,5,9999999999,5,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1
2,3,0,0,1,0,0,0,0,1,1,0,0,1,1,0,0,missing,missing,9999999999,5,0,1,9999999999,5,9999999999,5,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1
3,4,1,0,0,1,0,0,0,0,0,0,1,1,1,1,1,Toyota,Corolla,2016,4,5,2,5,2,0,1,1,0,0,0,1,0,0,1,0,0,0,0,1,0,0,0,1,0,0,0,0
4,5,0,1,0,1,0,0,0,0,0,0,1,1,1,1,0,Hyundai,Sonata,2016,4,15,3,16,3,1,1,0,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,0

In [278]:
signup_eng_feats_ds['vehicle_model_mod'].value_counts()

missing                 41458
Civic                     689
Corolla                   688
Camry                     683
Accord                    595
Prius V                   522
Altima                    422
Prius                     369
Sentra                    330
Sonata                    259
Elantra                   255
Optima                    212
Jetta                     205
CR-V                      193
Versa                     192
RAV4                      189
Fusion                    186
3-series                  163
Focus                     158
Sienna                    154
MAZDA3                    146
C-Class                   145
Malibu                    127
Passat                    120
Prius C                   118
Soul                      117
Odyssey                   113
Cruze                     109
Escape                    107
Highlander                106
                        ...
i3                          1
ZDX                         1
QX50                        1
E-150 Cargo - WAV           1
5-Sep                       1
6-series Gran Coupe         1
SSR                         1
F-350                       1
RLX                         1
Q45                         1
Allroad                     1
Metris                      1
Venture                     1
CLK-Class                   1
Blazer                      1
Safari                      1
LX                          1
Beetle                      1
Torrent                     1
Silverado 1500 4door        1
Rondo                       1
Veloster                    1
Vitara                      1
Voyager                     1
Rainier                     1
QX4                         1
Mountaineer                 1
Jetta Hybrid                1
SL2                         1
SX4                         1
Name: vehicle_model_mod, dtype: int64


missing          41458 9999999999
Toyota            3219 1
Honda             1845 2
Nissan            1311 3
Ford               778 4
Hyundai            677 5
Chevrolet          665 6
Kia                584 7
Volkswagen         503 8
Other                  9

In [281]:
#Creation of 'vehicle_make_cat' feature based on categories determined above

car_makes = ['missing','Toyota','Honda','Nissan','Ford','Hyundai','Chevrolet','Kia','Volkswagen']
signup_eng_feats_ds['vehicle_make_cat'] = 'missing'

signup_eng_feats_ds.loc[signup_eng_feats_ds['vehicle_make_mod'] == 'missing','vehicle_make_cat'] = 'missing' 
signup_eng_feats_ds.loc[signup_eng_feats_ds['vehicle_make_mod'] == 'Toyota','vehicle_make_cat'] = 'Toyota'
signup_eng_feats_ds.loc[signup_eng_feats_ds['vehicle_make_mod'] == 'Honda','vehicle_make_cat'] = 'Honda'
signup_eng_feats_ds.loc[signup_eng_feats_ds['vehicle_make_mod'] == 'Nissan','vehicle_make_cat'] = 'Nissan'
signup_eng_feats_ds.loc[signup_eng_feats_ds['vehicle_make_mod'] == 'Ford','vehicle_make_cat'] = 'Ford'
signup_eng_feats_ds.loc[signup_eng_feats_ds['vehicle_make_mod'] == 'Hyundai','vehicle_make_cat'] = 'Hyundai'
signup_eng_feats_ds.loc[signup_eng_feats_ds['vehicle_make_mod'] == 'Chevrolet','vehicle_make_cat'] = 'Chevrolet'
signup_eng_feats_ds.loc[signup_eng_feats_ds['vehicle_make_mod'] == 'Kia','vehicle_make_cat'] = 'Kia'
signup_eng_feats_ds.loc[signup_eng_feats_ds['vehicle_make_mod'] == 'Volkswagen','vehicle_make_cat'] = 'Volkswagen'
signup_eng_feats_ds.loc[~signup_eng_feats_ds.vehicle_make_mod.isin(car_makes),'vehicle_make_cat'] = 'Other'

In [282]:
signup_eng_feats_ds.head(5)

,id,city_Berton,city_Strark,city_Wrouver,signup_os_android web,signup_os_ios web,signup_os_mac,signup_os_other,signup_os_windows,signup_channel_Organic,signup_channel_Paid,signup_channel_Referral,signup_date_exists,bgc_date_exists,veh_added_date_exists,first_completed_date_exists,vehicle_make_mod,vehicle_model_mod,vehicle_year,vehicle_year_cat,signup_bgc_dtdiff,signup_bgc_diff_cat,signup_veh_added_dtdiff,signup_veh_added_diff_cat,bgc_veh_added_dtdiff,bgc_veh_added_diff_cat,driving,vehicle_year_cat_1,vehicle_year_cat_2,vehicle_year_cat_3,vehicle_year_cat_4,vehicle_year_cat_5,signup_bgc_diff_cat_1,signup_bgc_diff_cat_2,signup_bgc_diff_cat_3,signup_bgc_diff_cat_4,signup_bgc_diff_cat_5,signup_veh_added_diff_cat_1,signup_veh_added_diff_cat_2,signup_veh_added_diff_cat_3,signup_veh_added_diff_cat_4,signup_veh_added_diff_cat_5,bgc_veh_added_diff_cat_1,bgc_veh_added_diff_cat_2,bgc_veh_added_diff_cat_3,bgc_veh_added_diff_cat_4,bgc_veh_added_diff_cat_5,vehicle_make_cat
0,1,0,1,0,0,1,0,0,0,0,1,0,1,0,0,0,missing,missing,9999999999,5,9999999999,5,9999999999,5,9999999999,5,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,missing
1,2,0,1,0,0,0,0,0,1,0,1,0,1,0,0,0,missing,missing,9999999999,5,9999999999,5,9999999999,5,9999999999,5,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,missing
2,3,0,0,1,0,0,0,0,1,1,0,0,1,1,0,0,missing,missing,9999999999,5,0,1,9999999999,5,9999999999,5,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1,missing
3,4,1,0,0,1,0,0,0,0,0,0,1,1,1,1,1,Toyota,Corolla,2016,4,5,2,5,2,0,1,1,0,0,0,1,0,0,1,0,0,0,0,1,0,0,0,1,0,0,0,0,Toyota
4,5,0,1,0,1,0,0,0,0,0,0,1,1,1,1,0,Hyundai,Sonata,2016,4,15,3,16,3,1,1,0,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,0,Hyundai

In [283]:
signup_eng_feats_ds['vehicle_make_cat'].value_counts()

missing       41458
Other          3641
Toyota         3219
Honda          1845
Nissan         1311
Ford            778
Hyundai         677
Chevrolet       665
Kia             584
Volkswagen      503
Name: vehicle_make_cat, dtype: int64

missing                 41458
Civic                     689
Corolla                   688
Camry                     683
Accord                    595
Prius V                   522
Altima                    422
Prius                     369
Sentra                    330
Other                    259

In [284]:
#Creation of 'vehicle_model_cat' feature based on categories determined above

car_models = ['missing','Civic','Corolla','Camry','Accord','Prius V','Altima','Prius','Sentra']
signup_eng_feats_ds['vehicle_model_cat'] = 'missing'

signup_eng_feats_ds.loc[signup_eng_feats_ds['vehicle_model_mod'] == 'missing','vehicle_model_cat'] = 'missing' 
signup_eng_feats_ds.loc[signup_eng_feats_ds['vehicle_model_mod'] == 'Civic','vehicle_model_cat'] = 'Civic'
signup_eng_feats_ds.loc[signup_eng_feats_ds['vehicle_model_mod'] == 'Corolla','vehicle_model_cat'] = 'Corolla'
signup_eng_feats_ds.loc[signup_eng_feats_ds['vehicle_model_mod'] == 'Camry','vehicle_model_cat'] = 'Camry'
signup_eng_feats_ds.loc[signup_eng_feats_ds['vehicle_model_mod'] == 'Accord','vehicle_model_cat'] = 'Accord'
signup_eng_feats_ds.loc[signup_eng_feats_ds['vehicle_model_mod'] == 'Prius V','vehicle_model_cat'] = 'Prius V'
signup_eng_feats_ds.loc[signup_eng_feats_ds['vehicle_model_mod'] == 'Altima','vehicle_model_cat'] = 'Altima'
signup_eng_feats_ds.loc[signup_eng_feats_ds['vehicle_model_mod'] == 'Prius','vehicle_model_cat'] = 'Prius'
signup_eng_feats_ds.loc[signup_eng_feats_ds['vehicle_model_mod'] == 'Sentra','vehicle_model_cat'] = 'Sentra'
signup_eng_feats_ds.loc[~signup_eng_feats_ds.vehicle_model_mod.isin(car_models),'vehicle_model_cat'] = 'Other'

In [285]:
signup_eng_feats_ds['vehicle_model_cat'].value_counts()

missing    41458
Other       8925
Civic        689
Corolla      688
Camry        683
Accord       595
Prius V      522
Altima       422
Prius        369
Sentra       330
Name: vehicle_model_cat, dtype: int64

**Create dummy variables for 'vehicle_make_cat', 'vehicle_model_cat'**

In [286]:
#Create dummy features for 'vehicle_make_cat'

dummy_vehicle_make_cat = pd.get_dummies(signup_eng_feats_ds['vehicle_make_cat'], prefix='vehicle_make_cat')

#Joining dummy_vehicle_make_cat to signup_eng_feats_ds

signup_eng_feats_ds = pd.concat([signup_eng_feats_ds, dummy_vehicle_make_cat], axis =1)
signup_eng_feats_ds.head()

,id,city_Berton,city_Strark,city_Wrouver,signup_os_android web,signup_os_ios web,signup_os_mac,signup_os_other,signup_os_windows,signup_channel_Organic,signup_channel_Paid,signup_channel_Referral,signup_date_exists,bgc_date_exists,veh_added_date_exists,first_completed_date_exists,vehicle_make_mod,vehicle_model_mod,vehicle_year,vehicle_year_cat,signup_bgc_dtdiff,signup_bgc_diff_cat,signup_veh_added_dtdiff,signup_veh_added_diff_cat,bgc_veh_added_dtdiff,bgc_veh_added_diff_cat,driving,vehicle_year_cat_1,vehicle_year_cat_2,vehicle_year_cat_3,vehicle_year_cat_4,vehicle_year_cat_5,signup_bgc_diff_cat_1,signup_bgc_diff_cat_2,signup_bgc_diff_cat_3,signup_bgc_diff_cat_4,signup_bgc_diff_cat_5,signup_veh_added_diff_cat_1,signup_veh_added_diff_cat_2,signup_veh_added_diff_cat_3,signup_veh_added_diff_cat_4,signup_veh_added_diff_cat_5,bgc_veh_added_diff_cat_1,bgc_veh_added_diff_cat_2,bgc_veh_added_diff_cat_3,bgc_veh_added_diff_cat_4,bgc_veh_added_diff_cat_5,vehicle_make_cat,vehicle_model_cat,vehicle_make_cat_Chevrolet,vehicle_make_cat_Ford,vehicle_make_cat_Honda,vehicle_make_cat_Hyundai,vehicle_make_cat_Kia,vehicle_make_cat_Nissan,vehicle_make_cat_Other,vehicle_make_cat_Toyota,vehicle_make_cat_Volkswagen,vehicle_make_cat_missing
0,1,0,1,0,0,1,0,0,0,0,1,0,1,0,0,0,missing,missing,9999999999,5,9999999999,5,9999999999,5,9999999999,5,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,missing,missing,0,0,0,0,0,0,0,0,0,1
1,2,0,1,0,0,0,0,0,1,0,1,0,1,0,0,0,missing,missing,9999999999,5,9999999999,5,9999999999,5,9999999999,5,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,missing,missing,0,0,0,0,0,0,0,0,0,1
2,3,0,0,1,0,0,0,0,1,1,0,0,1,1,0,0,missing,missing,9999999999,5,0,1,9999999999,5,9999999999,5,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1,missing,missing,0,0,0,0,0,0,0,0,0,1
3,4,1,0,0,1,0,0,0,0,0,0,1,1,1,1,1,Toyota,Corolla,2016,4,5,2,5,2,0,1,1,0,0,0,1,0,0,1,0,0,0,0,1,0,0,0,1,0,0,0,0,Toyota,Corolla,0,0,0,0,0,0,0,1,0,0
4,5,0,1,0,1,0,0,0,0,0,0,1,1,1,1,0,Hyundai,Sonata,2016,4,15,3,16,3,1,1,0,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,0,Hyundai,Other,0,0,0,1,0,0,0,0,0,0

In [287]:
#Create dummy features for 'vehicle_model_cat'

dummy_vehicle_model_cat = pd.get_dummies(signup_eng_feats_ds['vehicle_model_cat'], prefix='vehicle_model_cat')

#Joining dummy_vehicle_model_cat to signup_eng_feats_ds

signup_eng_feats_ds = pd.concat([signup_eng_feats_ds, dummy_vehicle_model_cat], axis =1)
signup_eng_feats_ds.head()

,id,city_Berton,city_Strark,city_Wrouver,signup_os_android web,signup_os_ios web,signup_os_mac,signup_os_other,signup_os_windows,signup_channel_Organic,signup_channel_Paid,signup_channel_Referral,signup_date_exists,bgc_date_exists,veh_added_date_exists,first_completed_date_exists,vehicle_make_mod,vehicle_model_mod,vehicle_year,vehicle_year_cat,signup_bgc_dtdiff,signup_bgc_diff_cat,signup_veh_added_dtdiff,signup_veh_added_diff_cat,bgc_veh_added_dtdiff,bgc_veh_added_diff_cat,driving,vehicle_year_cat_1,vehicle_year_cat_2,vehicle_year_cat_3,vehicle_year_cat_4,vehicle_year_cat_5,signup_bgc_diff_cat_1,signup_bgc_diff_cat_2,signup_bgc_diff_cat_3,signup_bgc_diff_cat_4,signup_bgc_diff_cat_5,signup_veh_added_diff_cat_1,signup_veh_added_diff_cat_2,signup_veh_added_diff_cat_3,signup_veh_added_diff_cat_4,signup_veh_added_diff_cat_5,bgc_veh_added_diff_cat_1,bgc_veh_added_diff_cat_2,bgc_veh_added_diff_cat_3,bgc_veh_added_diff_cat_4,bgc_veh_added_diff_cat_5,vehicle_make_cat,vehicle_model_cat,vehicle_make_cat_Chevrolet,vehicle_make_cat_Ford,vehicle_make_cat_Honda,vehicle_make_cat_Hyundai,vehicle_make_cat_Kia,vehicle_make_cat_Nissan,vehicle_make_cat_Other,vehicle_make_cat_Toyota,vehicle_make_cat_Volkswagen,vehicle_make_cat_missing,vehicle_model_cat_Accord,vehicle_model_cat_Altima,vehicle_model_cat_Camry,vehicle_model_cat_Civic,vehicle_model_cat_Corolla,vehicle_model_cat_Other,vehicle_model_cat_Prius,vehicle_model_cat_Prius V,vehicle_model_cat_Sentra,vehicle_model_cat_missing
0,1,0,1,0,0,1,0,0,0,0,1,0,1,0,0,0,missing,missing,9999999999,5,9999999999,5,9999999999,5,9999999999,5,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,missing,missing,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1
1,2,0,1,0,0,0,0,0,1,0,1,0,1,0,0,0,missing,missing,9999999999,5,9999999999,5,9999999999,5,9999999999,5,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,missing,missing,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1
2,3,0,0,1,0,0,0,0,1,1,0,0,1,1,0,0,missing,missing,9999999999,5,0,1,9999999999,5,9999999999,5,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1,missing,missing,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1
3,4,1,0,0,1,0,0,0,0,0,0,1,1,1,1,1,Toyota,Corolla,2016,4,5,2,5,2,0,1,1,0,0,0,1,0,0,1,0,0,0,0,1,0,0,0,1,0,0,0,0,Toyota,Corolla,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0
4,5,0,1,0,1,0,0,0,0,0,0,1,1,1,1,0,Hyundai,Sonata,2016,4,15,3,16,3,1,1,0,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,0,Hyundai,Other,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0

In [288]:
signup_eng_feats_ds.columns

Index(['id', 'city_Berton', 'city_Strark', 'city_Wrouver',
       'signup_os_android web', 'signup_os_ios web', 'signup_os_mac',
       'signup_os_other', 'signup_os_windows', 'signup_channel_Organic',
       'signup_channel_Paid', 'signup_channel_Referral', 'signup_date_exists',
       'bgc_date_exists', 'veh_added_date_exists',
       'first_completed_date_exists', 'vehicle_make_mod', 'vehicle_model_mod',
       'vehicle_year', 'vehicle_year_cat', 'signup_bgc_dtdiff',
       'signup_bgc_diff_cat', 'signup_veh_added_dtdiff',
       'signup_veh_added_diff_cat', 'bgc_veh_added_dtdiff',
       'bgc_veh_added_diff_cat', 'driving', 'vehicle_year_cat_1',
       'vehicle_year_cat_2', 'vehicle_year_cat_3', 'vehicle_year_cat_4',
       'vehicle_year_cat_5', 'signup_bgc_diff_cat_1', 'signup_bgc_diff_cat_2',
       'signup_bgc_diff_cat_3', 'signup_bgc_diff_cat_4',
       'signup_bgc_diff_cat_5', 'signup_veh_added_diff_cat_1',
       'signup_veh_added_diff_cat_2', 'signup_veh_added_diff_cat_3',
       'signup_veh_added_diff_cat_4', 'signup_veh_added_diff_cat_5',
       'bgc_veh_added_diff_cat_1', 'bgc_veh_added_diff_cat_2',
       'bgc_veh_added_diff_cat_3', 'bgc_veh_added_diff_cat_4',
       'bgc_veh_added_diff_cat_5', 'vehicle_make_cat', 'vehicle_model_cat',
       'vehicle_make_cat_Chevrolet', 'vehicle_make_cat_Ford',
       'vehicle_make_cat_Honda', 'vehicle_make_cat_Hyundai',
       'vehicle_make_cat_Kia', 'vehicle_make_cat_Nissan',
       'vehicle_make_cat_Other', 'vehicle_make_cat_Toyota',
       'vehicle_make_cat_Volkswagen', 'vehicle_make_cat_missing',
       'vehicle_model_cat_Accord', 'vehicle_model_cat_Altima',
       'vehicle_model_cat_Camry', 'vehicle_model_cat_Civic',
       'vehicle_model_cat_Corolla', 'vehicle_model_cat_Other',
       'vehicle_model_cat_Prius', 'vehicle_model_cat_Prius V',
       'vehicle_model_cat_Sentra', 'vehicle_model_cat_missing'],
      dtype='object')

In [290]:
addtnl_cols_to_keep = ['id', 'city_Berton', 'city_Strark', 'city_Wrouver',
       'signup_os_android web', 'signup_os_ios web', 'signup_os_mac',
       'signup_os_other', 'signup_os_windows', 'signup_channel_Organic',
       'signup_channel_Paid', 'signup_channel_Referral', 'signup_date_exists',
       'bgc_date_exists', 'veh_added_date_exists',
       'first_completed_date_exists','vehicle_year', 'vehicle_year_cat', 'signup_bgc_dtdiff',
       'signup_veh_added_dtdiff', 'bgc_veh_added_dtdiff','vehicle_year_cat_1',
       'vehicle_year_cat_2', 'vehicle_year_cat_3', 'vehicle_year_cat_4',
       'vehicle_year_cat_5', 'signup_bgc_diff_cat_1', 'signup_bgc_diff_cat_2',
       'signup_bgc_diff_cat_3', 'signup_bgc_diff_cat_4',
       'signup_bgc_diff_cat_5', 'signup_veh_added_diff_cat_1',
       'signup_veh_added_diff_cat_2', 'signup_veh_added_diff_cat_3',
       'signup_veh_added_diff_cat_4', 'signup_veh_added_diff_cat_5',
       'bgc_veh_added_diff_cat_1', 'bgc_veh_added_diff_cat_2',
       'bgc_veh_added_diff_cat_3', 'bgc_veh_added_diff_cat_4',
       'bgc_veh_added_diff_cat_5','vehicle_make_cat_Chevrolet', 'vehicle_make_cat_Ford',
       'vehicle_make_cat_Honda', 'vehicle_make_cat_Hyundai',
       'vehicle_make_cat_Kia', 'vehicle_make_cat_Nissan',
       'vehicle_make_cat_Other', 'vehicle_make_cat_Toyota',
       'vehicle_make_cat_Volkswagen', 'vehicle_make_cat_missing',
       'vehicle_model_cat_Accord', 'vehicle_model_cat_Altima',
       'vehicle_model_cat_Camry', 'vehicle_model_cat_Civic',
       'vehicle_model_cat_Corolla', 'vehicle_model_cat_Other',
       'vehicle_model_cat_Prius', 'vehicle_model_cat_Prius V',
       'vehicle_model_cat_Sentra', 'vehicle_model_cat_missing','driving']

In [292]:
signup_mdl_ds = signup_eng_feats_ds[addtnl_cols_to_keep]
signup_mdl_ds.shape

(54681, 62)

In [293]:
signup_mdl_ds.head(5)

,id,city_Berton,city_Strark,city_Wrouver,signup_os_android web,signup_os_ios web,signup_os_mac,signup_os_other,signup_os_windows,signup_channel_Organic,signup_channel_Paid,signup_channel_Referral,signup_date_exists,bgc_date_exists,veh_added_date_exists,first_completed_date_exists,vehicle_year,vehicle_year_cat,signup_bgc_dtdiff,signup_veh_added_dtdiff,bgc_veh_added_dtdiff,vehicle_year_cat_1,vehicle_year_cat_2,vehicle_year_cat_3,vehicle_year_cat_4,vehicle_year_cat_5,signup_bgc_diff_cat_1,signup_bgc_diff_cat_2,signup_bgc_diff_cat_3,signup_bgc_diff_cat_4,signup_bgc_diff_cat_5,signup_veh_added_diff_cat_1,signup_veh_added_diff_cat_2,signup_veh_added_diff_cat_3,signup_veh_added_diff_cat_4,signup_veh_added_diff_cat_5,bgc_veh_added_diff_cat_1,bgc_veh_added_diff_cat_2,bgc_veh_added_diff_cat_3,bgc_veh_added_diff_cat_4,bgc_veh_added_diff_cat_5,vehicle_make_cat_Chevrolet,vehicle_make_cat_Ford,vehicle_make_cat_Honda,vehicle_make_cat_Hyundai,vehicle_make_cat_Kia,vehicle_make_cat_Nissan,vehicle_make_cat_Other,vehicle_make_cat_Toyota,vehicle_make_cat_Volkswagen,vehicle_make_cat_missing,vehicle_model_cat_Accord,vehicle_model_cat_Altima,vehicle_model_cat_Camry,vehicle_model_cat_Civic,vehicle_model_cat_Corolla,vehicle_model_cat_Other,vehicle_model_cat_Prius,vehicle_model_cat_Prius V,vehicle_model_cat_Sentra,vehicle_model_cat_missing,driving
0,1,0,1,0,0,1,0,0,0,0,1,0,1,0,0,0,9999999999,5,9999999999,9999999999,9999999999,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0
1,2,0,1,0,0,0,0,0,1,0,1,0,1,0,0,0,9999999999,5,9999999999,9999999999,9999999999,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0
2,3,0,0,1,0,0,0,0,1,1,0,0,1,1,0,0,9999999999,5,0,9999999999,9999999999,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0
3,4,1,0,0,1,0,0,0,0,0,0,1,1,1,1,1,2016,4,5,5,0,0,0,0,1,0,0,1,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,1
4,5,0,1,0,1,0,0,0,0,0,0,1,1,1,1,0,2016,4,15,16,1,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0

In [294]:
signup_mdl_ds.to_csv("signup_mdl_ds.csv")

**Feature Selection**

In [311]:
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression
# load the iris datasets
data = signup_mdl_ds[signup_mdl_ds.columns[:-1]]
target = np.asarray(signup_mdl_ds[signup_mdl_ds.columns[-1:]],dtype="|S6")
# create a base classifier used to evaluate a subset of attributes
rfe_model = LogisticRegression()
# create the RFE model and select 3 attributes
rfe = RFE(rfe_model, 3)
rfe = rfe.fit(data, target)
# summarize the selection of the attributes
print(rfe.support_)
print(rfe.ranking_)

/Users/Sonal/anaconda/envs/py35/lib/python3.5/site-packages/sklearn/utils/validation.py:526: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[False False False False False False False False False False False False
 False False False False  True False  True False  True False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False]
[ 3 32 19 35 23 26 38 31 50 24 18 29 12 15 13  4  1 10  1  2  1 22 30 28 52
 55  9 41 14  8 54  7 21 16  5 59 11 27 20  6 56 34 43 37 36 40 33 25 39 44
 57 49 46 48 51 45 17 42 53 47 58]

**Determining relative feature importance creating Extra Trees ensemble(Decision tree)**

In [312]:
from sklearn import metrics
from sklearn.ensemble import ExtraTreesClassifier
# load the iris datasets
data = signup_mdl_ds[signup_mdl_ds.columns[:-1]]
target = np.asarray(signup_mdl_ds[signup_mdl_ds.columns[-1:]],dtype="|S6")
# fit an Extra Trees model to the data
fi_model = ExtraTreesClassifier()
fi_model.fit(data, target)
# display the relative importance of each attribute
print(fi_model.feature_importances_)

/Users/Sonal/anaconda/envs/py35/lib/python3.5/site-packages/ipykernel/__main__.py:8: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

[  2.81527339e-03   7.39829691e-04   7.74157587e-04   5.29178656e-04
   8.55686234e-04   7.03228675e-04   6.88425059e-04   6.74517500e-04
   6.12662790e-04   7.36226298e-04   5.65714826e-04   2.04487356e-03
   0.00000000e+00   7.22413234e-04   4.89857326e-02   6.29406389e-01
   1.58247693e-03   3.59732701e-02   3.11579776e-03   5.34314109e-02
   2.62155918e-03   2.36197207e-03   5.20422327e-04   9.74694181e-03
   2.84274525e-04   2.45649615e-06   9.58107831e-03   3.88322156e-04
   8.89195002e-04   5.48251154e-03   2.43629994e-04   1.43585294e-02
   1.45488099e-02   5.16472178e-03   1.20270500e-02   8.81047329e-09
   4.69938355e-02   5.52996088e-04   2.66186965e-04   5.91117170e-03
   7.84374102e-04   3.81115190e-04   3.99176158e-04   4.44707890e-04
   2.20978049e-04   3.82640003e-04   4.11747628e-04   4.87908654e-04
   5.64019262e-04   2.35008640e-04   1.90388663e-03   2.53580990e-04
   1.62999394e-04   2.60942373e-04   2.91671406e-04   2.77845192e-04
   1.37505144e-02   2.19340398e-04   2.59958796e-04   1.79270709e-04
   6.12253757e-02]

In [313]:
imp = fi_model.feature_importances_

imp = pd.DataFrame(np.array(imp).T, columns = ['imp'], index = data.columns)
imp.sort_values('imp', ascending = False, inplace = True)
#imp.to_csv("important_features.csv")
print(imp)

                                      imp
first_completed_date_exists  6.294064e-01
vehicle_model_cat_missing    6.122538e-02
signup_veh_added_dtdiff      5.343141e-02
veh_added_date_exists        4.898573e-02
bgc_veh_added_diff_cat_1     4.699384e-02
vehicle_year_cat             3.597327e-02
signup_veh_added_diff_cat_2  1.454881e-02
signup_veh_added_diff_cat_1  1.435853e-02
vehicle_model_cat_Other      1.375051e-02
signup_veh_added_diff_cat_4  1.202705e-02
vehicle_year_cat_3           9.746942e-03
signup_bgc_diff_cat_1        9.581078e-03
bgc_veh_added_diff_cat_4     5.911172e-03
signup_bgc_diff_cat_4        5.482512e-03
signup_veh_added_diff_cat_3  5.164722e-03
signup_bgc_dtdiff            3.115798e-03
id                           2.815273e-03
bgc_veh_added_dtdiff         2.621559e-03
vehicle_year_cat_1           2.361972e-03
signup_channel_Referral      2.044874e-03
vehicle_make_cat_missing     1.903887e-03
vehicle_year                 1.582477e-03
signup_bgc_diff_cat_3        8.891950e-04
signup_os_android web        8.556862e-04
bgc_veh_added_diff_cat_5     7.843741e-04
city_Strark                  7.741576e-04
city_Berton                  7.398297e-04
signup_channel_Organic       7.362263e-04
bgc_date_exists              7.224132e-04
signup_os_ios web            7.032287e-04
...                                   ...
signup_os_other              6.745175e-04
signup_os_windows            6.126628e-04
signup_channel_Paid          5.657148e-04
vehicle_make_cat_Toyota      5.640193e-04
bgc_veh_added_diff_cat_2     5.529961e-04
city_Wrouver                 5.291787e-04
vehicle_year_cat_2           5.204223e-04
vehicle_make_cat_Other       4.879087e-04
vehicle_make_cat_Honda       4.447079e-04
vehicle_make_cat_Nissan      4.117476e-04
vehicle_make_cat_Ford        3.991762e-04
signup_bgc_diff_cat_2        3.883222e-04
vehicle_make_cat_Kia         3.826400e-04
vehicle_make_cat_Chevrolet   3.811152e-04
vehicle_model_cat_Civic      2.916714e-04
vehicle_year_cat_4           2.842745e-04
vehicle_model_cat_Corolla    2.778452e-04
bgc_veh_added_diff_cat_3     2.661870e-04
vehicle_model_cat_Camry      2.609424e-04
vehicle_model_cat_Prius V    2.599588e-04
vehicle_model_cat_Accord     2.535810e-04
signup_bgc_diff_cat_5        2.436300e-04
vehicle_make_cat_Volkswagen  2.350086e-04
vehicle_make_cat_Hyundai     2.209780e-04
vehicle_model_cat_Prius      2.193404e-04
vehicle_model_cat_Sentra     1.792707e-04
vehicle_model_cat_Altima     1.629994e-04
vehicle_year_cat_5           2.456496e-06
signup_veh_added_diff_cat_5  8.810473e-09
signup_date_exists           0.000000e+00

[61 rows x 1 columns]